extends ../../layouts/layout
include ../../blocks/logo/logo
include ../../blocks/input/input
include ../../blocks/input-dropdown/input-dropdown
include ../../blocks/input-email/input-email
include ../../blocks/checkbox/checkbox
include ../../blocks/checkbox-toggle/checkbox-toggle
include ../../blocks/checkbox-list/checkbox-list
include ../../blocks/button-like/button-like
include ../../blocks/button-link/button-link
include ../../blocks/button-rate/button-rate
include ../../blocks/button-submit/button-submit
include ../../blocks/slide/slide
include ../../blocks/advantage/advantage
include ../../blocks/reviews/reviews

block body
  -
    const numbers = [
      {
        text: 'спальни', 
        number: 2
      }, 
      {
        text: 'кровати', 
        number: 2
      }, 
      {
        text: 'ванные комнаты', 
        number: 0, 
        opacity: true
      }
    ];

    const guests1 = [
      {
        text: 'взрослые', 
        number: 0, 
        opacity: true
      }, 
      {
        text: 'дети', 
        number: 0, 
        opacity: true
      }, 
      {
        text: 'младенцы', 
        number: 0, 
        opacity: true
      }
    ];

    const guests2 = [
      {
        text: 'взрослые', 
        number: 2
      }, 
      {
        text: 'дети', 
        number: 1
      }, 
      {
        text: 'младенцы', 
        number: 0, 
        opacity: true
      }
    ];

    const conveniences1 = [
      {
        label: 'Завтрак', 
        id: 'breakfast1', 
        checked: false
      },
      {
        label: 'Письменный стол', 
        id: 'desk1', 
        checked: true
      },
      {
        label: 'Стул для кормления', 
        id: 'chair1', 
        checked: true
      },
      {
        label: 'Кроватка', 
        id: 'Crib1', 
        checked: true
      },
      {
        label: 'Телевизор', 
        id: 'TV1', 
        checked: false
      },
      {
        label: 'Шампунь', 
        id: 'shampoo1', 
        checked: false
      }
    ];

    const conveniences2 = [
      {
        label: 'Завтрак', 
        id: 'breakfast2', 
        checked: false
      },
      {
        label: 'Письменный стол', 
        id: 'desk2', 
        checked: true
      },
      {
        label: 'Стул для кормления', 
        id: 'chair2', 
        checked: true
      },
      {
        label: 'Кроватка', 
        id: 'Crib2', 
        checked: true
      },
      {
        label: 'Телевизор', 
        id: 'TV2', 
        checked: false
      },
      {
        label: 'Шампунь', 
        id: 'shampoo2', 
        checked: false
      }
    ];

    const rules = [
      {
        label: 'Можно курить', 
        id: 'smoke', 
        checked: false
      },
      {
        label: 'Можно с питомцами', 
        id: 'pets', 
        checked: true
      },
      {
        label: 'Можно пригласить гостей (до 10 человек)', 
        id: 'guests', 
        checked: true
      }
    ];

    const available = [
      {
        label: 'Широкий коридор', 
        id: 'hallway', 
        checked: false,
        text: 'Ширина коридоров в номере не менее 91 см.',
        width: 'wide1'
      },
      {
        label: 'Помощник для инвалидов', 
        id: 'invalid', 
        checked: false,
        text: 'На 1 этаже вас встретит специалист  и проводит до номера.',
        width: 'wide2'
      }
    ];

    const advantages = [
      {
        icon: 'insert_emoticon', 
        text: 'Комфорт', 
        span: 'Шумопоглощающие стены'
      },
      {
        icon: 'location_city', 
        text: 'Удобство', 
        span: 'Окно в каждой из спален'
      }
    ];

    const reviews = [
      {
        image: 'image16', 
        buttonText: 'favorite', 
        buttonNumber: 12,
        active: true,
        name: 'Мурад Сарафанов', 
        date: '5 дней назад',
        reviewText: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
      }
    ];

  h1.form-elements__title Form Elements
  +logo
  .form-elements 
    .form-elements__block1
      form.form-elements__block
        .form-elements__texts
          h3.form-elements__text Text Field
          h3.form-elements__text.form-elements__text_colored default
        +input({ placeholder: 'Email', types: 'email' })
      form.form-elements__block
        .form-elements__texts
          h3.form-elements__text Text Field
          h3.form-elements__text.form-elements__text_colored Hover / Focus
        +input({ placeholder: 'This is pretty awesome', hover: true })
      form.form-elements__block
        +input-dropdown({ dropdown: true, text: 'dropdown', value: 'Сколько гостей', inputClassName: 'cursor', id: 'guest1', option: guests1, textLeft: '', textRight: 'применить' })
      form.form-elements__block
        .form-elements__texts
          h3.form-elements__text masked text field
        +input({ placeholder: 'ДД.ММ.ГГГГ', id: 'birthday', length: 10, autocomplete: 'off', pattern: true })
      form.form-elements__block
        .form-elements__block-left
          +input-dropdown({ text: 'date dropdown', value: 'ДД.ММ.ГГГГ', id: 'date1', inputClassName: 'width', datepicker: 'datepicker4' })
        .form-elements__block-right
          +input-dropdown({ text: 'date dropdown', value: '19.08.2019', id: 'date2', inputClassName: 'width' })
      form.form-elements__block
        +input-dropdown({ text: 'filter date dropdown', value: '19 авг - 23 авг', inputClassName: 'cursor', id: 'date', datepicker: 'datepicker5' })
      .form-elements__block
        .form-elements__texts
          h3.form-elements__text subscription text field
        +input-email
    form.form-elements__block2
      .form-elements__block
        .form-elements__texts
          h3.form-elements__text Checkbox Buttons
        .form-elements__block-checkbox
          +checkbox({ checkboxs: rules })
      .form-elements__block
        .form-elements__texts
          h3.form-elements__text Radio Buttons
        .form-elements__block-radio
          include ../../blocks/radio/radio
      .form-elements__block
        .form-elements__texts
          h3.form-elements__text Toggle
        .form-elements__block-toggle
          +checkbox-toggle({ id: 'checkboxOn', checked: true })
          +checkbox-toggle({ id: 'checkboxOff', checked: false })
      .form-elements__block
        .form-elements__texts
          h3.form-elements__text like button
        .form-elements__block-like
          +button-like({ text: 'favorite_border', number: 2 })
          +button-like({ text: 'favorite', number: 12, active: true })
      .form-elements__block
        .form-elements__texts
          h3.form-elements__text rate button
        .form-elements__block-rate
          +button-rate({ count: 4 })
          +button-rate({ count: 5 })
    form.form-elements__block3 
      .form-elements__block
        +slide({ text: 'Range Slider' })
      .form-elements__block
        .form-elements__texts
          h3.form-elements__text buttons
        .form-elements__block-link-bg 
          +button-link({ text: 'click me', linkClassName: 'background' })
          +button-link({ text: 'click me', linkClassName: 'background', hover: true })
        .form-elements__block-link-bg.form-elements__block-link-bg_margin_top
          +button-link({ text: 'click me', linkClassName: 'border' })
          +button-link({ text: 'click me', linkClassName: 'border', hover: true })
        .form-elements__block-link 
          +button-link({ text: 'click me', linkClassName: 'color' })
          +button-link({ text: 'click me', linkClassName: 'color', hover: true })
        .form-elements__block-link-submit
          +button-submit({ text: 'перейти к оплате' })
      .form-elements__block
        .form-elements__texts
          h3.form-elements__text pagination
        .form-elements__block-pagination
          include ../../blocks/pagination/pagination
    .form-elements__block4
      .form-elements__block
        +input-dropdown({ dropdown: true, text: 'dropdown', text2: 'default', value: '2 спальни, 2 кровати...', inputClassName: 'cursor', id: 'rooms1', option: numbers })
      .form-elements__block
        +input-dropdown({ dropdown: true, text: 'dropdown', text2: 'expanded', value: '2 спальни, 2 кровати...', id: 'rooms2', inputClassName: 'border', display: true, option: numbers })
    .form-elements__block5
      .form-elements__block
        +input-dropdown({ dropdown: true, text: 'dropdown', value: 'Сколько гостей', id: 'guest2', inputClassName: 'border', display: true, option: guests1, textLeft: '', textRight: 'применить' })
    .form-elements__block6
      .form-elements__block
        +input-dropdown({ dropdown: true, text: 'dropdown', value: '3 гостя', id: 'guest3', inputClassName: 'border', display: true, option: guests2, textLeft: 'очистить', textRight: 'применить' })
    form.form-elements__block7
      .form-elements__block
        +checkbox-list({ text: 'expandable checkbox list', unreflected: 'unreflected', checkboxs: conveniences1 })
      .form-elements__block
        +checkbox-list({ text: 'expandable checkbox list', transform: true, checkboxs: conveniences2 })
    form.form-elements__block8
      .form-elements__block
        .form-elements__texts
          h3.form-elements__text rich Checkbox Buttons
        .form-elements__block-checkbox
          +checkbox({ color: true, checkboxs: available })
    .form-elements__block9
      .form-elements__block
        .form-elements__texts
          h3.form-elements__text bullet list
        .form-elements__block-condition
          include ../../blocks/condition/condition
    .form-elements__block10
      .form-elements__block
        +advantage({ texts: advantages })
    .form-elements__block11
      .form-elements__block
        +reviews({ reviews: reviews })
