extends ../../layouts/ui-kit-layout
include ../../blocks/logo/logo
include ../../blocks/input/input
include ../../blocks/input-dropdown/input-dropdown
include ../../blocks/input-email/input-email
include ../../blocks/checkbox/checkbox
include ../../blocks/radio/radio
include ../../blocks/checkbox-toggle/checkbox-toggle
include ../../blocks/checkbox-list/checkbox-list
include ../../blocks/button/button
include ../../blocks/button-like/button-like
include ../../blocks/button-rate/button-rate
include ../../blocks/pagination/pagination
include ../../blocks/slide/slide
include ../../blocks/condition/condition
include ../../blocks/advantage/advantage
include ../../blocks/reviews/reviews

block head
  - const title = 'Form elements';

block body
  -
    const numbers = [
      {
        text: 'спальни', 
        number: 2
      }, 
      {
        text: 'кровати', 
        number: 2
      }, 
      {
        text: 'ванные комнаты', 
        number: 0, 
        opacity: true
      }
    ];

    const guests1 = [
      {
        text: 'взрослые', 
        number: 0, 
        opacity: true
      }, 
      {
        text: 'дети', 
        number: 0, 
        opacity: true
      }, 
      {
        text: 'младенцы', 
        number: 0, 
        opacity: true
      }
    ];

    const guests2 = [
      {
        text: 'взрослые', 
        number: 2
      }, 
      {
        text: 'дети', 
        number: 1
      }, 
      {
        text: 'младенцы', 
        number: 0, 
        opacity: true
      }
    ];

    const conveniences1 = [
      {
        value: 'Завтрак', 
        id: 'breakfast1', 
        checked: false
      },
      {
        value: 'Письменный стол', 
        id: 'desk1', 
        checked: true
      },
      {
        value: 'Стул для кормления', 
        id: 'chair1', 
        checked: true
      },
      {
        value: 'Кроватка', 
        id: 'Crib1', 
        checked: true
      },
      {
        value: 'Телевизор', 
        id: 'TV1', 
        checked: false
      },
      {
        value: 'Шампунь', 
        id: 'shampoo1', 
        checked: false
      }
    ];

    const conveniences2 = [
      {
        value: 'Завтрак', 
        id: 'breakfast2', 
        checked: false
      },
      {
        value: 'Письменный стол', 
        id: 'desk2', 
        checked: true
      },
      {
        value: 'Стул для кормления', 
        id: 'chair2', 
        checked: true
      },
      {
        value: 'Кроватка', 
        id: 'Crib2', 
        checked: true
      },
      {
        value: 'Телевизор', 
        id: 'TV2', 
        checked: false
      },
      {
        value: 'Шампунь', 
        id: 'shampoo2', 
        checked: false
      }
    ];

    const rules = [
      {
        value: 'Можно курить', 
        id: 'smoke', 
        checked: false
      },
      {
        value: 'Можно с питомцами', 
        id: 'pets', 
        checked: true
      },
      {
        value: 'Можно пригласить гостей (до 10 человек)', 
        id: 'guests', 
        checked: true
      }
    ];

    const accessibility = [
      {
        value: 'Широкий коридор', 
        id: 'hallway', 
        checked: false,
        details: 'Ширина коридоров в номере не менее 91 см.',
        size: 'narrow',
        font: 'fw'
      },
      {
        value: 'Помощник для инвалидов', 
        id: 'invalid', 
        checked: false,
        details: 'На 1 этаже вас встретит специалист  и проводит до номера.',
        size: 'wide',
        font: 'fw'
      }
    ];

    const advantages = [
      {
        icon: 'insert_emoticon', 
        text: 'Комфорт', 
        span: 'Шумопоглощающие стены'
      },
      {
        icon: 'location_city', 
        text: 'Удобство', 
        span: 'Окно в каждой из спален'
      }
    ];

    const reviews = [
      {
        image: 'image16', 
        buttonNumber: 12,
        active: true,
        name: 'Мурад Сарафанов', 
        date: '5 дней назад',
        reviewText: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
      }
    ];

    const conditions = [
      'Нельзя с питомцами', 
      'Без вечеринок и мероприятий', 
      'Время прибытия — после 13:00, а выезд до 12:00'
    ];

    const genders = [
      { id: 'man', gender: 'Мужчина', checked: 'checked' }, 
      { id: 'woman', gender: 'Женщина' }
    ];

  +logo
  .form-elements 
    h1.form-elements__title Form Elements
    .form-elements__block1
      .form-elements__block
        .form-elements__texts
          h3.form-elements__text Text Field
          h3.form-elements__text.form-elements__text_colored default
        +input({ placeholder: 'Email', types: 'email' })
      .form-elements__block
        .form-elements__texts
          h3.form-elements__text Text Field
          h3.form-elements__text.form-elements__text_colored Hover / Focus
        +input({ placeholder: 'This is pretty awesome', hover: true })
      .form-elements__block
        +input-dropdown({ dropdown: true, text: 'dropdown', value: 'Сколько гостей', inputClassName: 'cursor', id: 'guest1', option: guests1, textLeft: '', textRight: 'применить' })
      .form-elements__block
        .form-elements__texts
          h3.form-elements__text masked text field
        +input({ placeholder: 'ДД.ММ.ГГГГ', id: 'birthday', length: 10, autocomplete: 'off', pattern: true })
      .form-elements__block
        .form-elements__block-left
          +input-dropdown({ text: 'date dropdown', value: 'ДД.ММ.ГГГГ', id: 'date1', inputClassName: 'width', datepicker: 'datepicker4' })
        .form-elements__block-right
          +input-dropdown({ text: 'date dropdown', value: '19.08.2019', id: 'date2', inputClassName: 'width' })
      .form-elements__block
        +input-dropdown({ text: 'filter date dropdown', value: '19 авг - 23 авг', inputClassName: 'cursor', id: 'date', datepicker: 'datepicker5' })
      .form-elements__block
        .form-elements__texts
          h3.form-elements__text subscription text field
        +input-email
    .form-elements__block2
      .form-elements__block
        .form-elements__texts
          h3.form-elements__text Checkbox Buttons
        .form-elements__block-checkbox
          each rule in rules
            +checkbox(rule)
      .form-elements__block
        .form-elements__texts
          h3.form-elements__text Radio Buttons
        .form-elements__block-radio
          +radio(genders)
      .form-elements__block
        .form-elements__texts
          h3.form-elements__text Toggle
        .form-elements__block-toggle
          +checkbox-toggle({ id: 'checkboxOn', checked: true })
          +checkbox-toggle({ id: 'checkboxOff', checked: false })
      .form-elements__block
        .form-elements__texts
          h3.form-elements__text like button
        .form-elements__block-like
          +button-like({ text: 2 })
          +button-like({ text: 12, active: true })
      .form-elements__block
        .form-elements__texts
          h3.form-elements__text rate button
        .form-elements__block-rate
          +button-rate({ count: 4 })
          +button-rate({ count: 5 })
    .form-elements__block3 
      .form-elements__block
        +slide({ text: 'Range Slider' })
      .form-elements__block
        .form-elements__texts
          h3.form-elements__text buttons
        .form-elements__block-link-bg 
          +button({ text: 'click me', type: 'button', theme: 'filled' })
          +button({ text: 'click me', type: 'button', theme: 'filled', state: 'hovering' })
        .form-elements__block-link-bg.form-elements__block-link-bg_margin_top
          +button({ text: 'click me', type: 'button', theme: 'bordered' })
          +button({ text: 'click me', type: 'button', theme: 'bordered', state: 'hovering' })
        .form-elements__block-link 
          +button({ text: 'click me', type: 'button' })
          +button({ text: 'click me', type: 'button', state : 'hovering' })
        .form-elements__block-link-submit
          +button({ text: 'ПЕРЕЙТИ К ОПЛАТЕ', type: 'button', theme: 'filled', icon: 'arrow' })
      .form-elements__block
        .form-elements__texts
          h3.form-elements__text pagination
        .form-elements__block-pagination
          +pagination()
    .form-elements__block4
      .form-elements__block
        +input-dropdown({ dropdown: true, text: 'dropdown', text2: 'default', value: '2 спальни, 2 кровати...', inputClassName: 'cursor', id: 'rooms1', option: numbers })
      .form-elements__block
        +input-dropdown({ dropdown: true, text: 'dropdown', text2: 'expanded', value: '2 спальни, 2 кровати...', id: 'rooms2', inputClassName: 'border', display: true, option: numbers })
    .form-elements__block5
      .form-elements__block
        +input-dropdown({ dropdown: true, text: 'dropdown', value: 'Сколько гостей', id: 'guest2', inputClassName: 'border', display: true, option: guests1, textLeft: '', textRight: 'применить' })
    .form-elements__block6
      .form-elements__block
        +input-dropdown({ dropdown: true, text: 'dropdown', value: '3 гостя', id: 'guest3', inputClassName: 'border', display: true, option: guests2, textLeft: 'очистить', textRight: 'применить' })
    .form-elements__block7
      .form-elements__block
        +checkbox-list({ value: 'EXPANDABLE CHECKBOX LIST', checkboxes: conveniences1 })
      .form-elements__block
        +checkbox-list({ value: 'EXPANDABLE CHECKBOX LIST', state: 'active', checkboxes: conveniences2 })
    .form-elements__block8
      .form-elements__block
        .form-elements__texts
          h3.form-elements__text rich Checkbox Buttons
        .form-elements__block-checkbox
          each access in accessibility
            +checkbox(access)
    .form-elements__block9
      .form-elements__block
        .form-elements__texts
          h3.form-elements__text bullet list
        .form-elements__block-condition
          +condition(conditions)
    .form-elements__block10
      .form-elements__block
        +advantage({ texts: advantages })
    .form-elements__block11
      .form-elements__block
        +reviews({ reviews: reviews })
