.logo__link {
  display: inline-block;
  font-size: 0;
}

.logo__img {
  margin: 30px;
}

.logotype,
.logotype__link {
  display: flex;
  font-size: 0;
}

.logotype__img--display {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .logotype__img--display {
    display: block;
  }
}