mixin logo()
  .logo
    a(class="logo__link" href="index.html" title="На главную") главная страница
      img(class="logo__img" src="../../blocks/logo/img/svg/Logo.svg", alt="logo")

mixin logotype(options)
  -
    const {imgClassName} = options
    let letImgClassName = 'logotype__img'
    letImgClassName += imgClassName ? ` ${imgClassName}` : ''
    
  .logotype
    a(class="logotype__link" href="index.html" title="На главную") главная страница 
      img(class= letImgClassName src="../../blocks/logo/img/svg/Logotype.svg", alt="logo") 