mixin logo(options)
  if options.aLink === false
    img(class="logo__img" src="../../blocks/logo/img/svg/Logo.svg", alt="logo")
  else
    a(class="logo__link" href="landing-page.html")
      img(class="logo__img" src="../../blocks/logo/img/svg/Logo.svg", alt="logo")

mixin logo-icon()
  img(class="logo__img-icon" src="../../blocks/logo/img/svg/Logotype.svg", alt="logo")