ul.navigation__list 
  li.navigation__item 
    a(class="navigation__link" href="#") 1
  li.navigation__item 
    a(class="navigation__link" href="#") 2
  li.navigation__item 
    a(class="navigation__link" href="#") 3
  li.navigation__item 
    span.navigation__symbol ...
  li.navigation__item 
    a(class="navigation__link" href="#") 15
  li.navigation__item 
    button.navigation__button arrow_forward
p.navigation__text 1 – 12 из 100+ вариантов аренды