mixin footer-narrow(options)
  - const { socials } = options; 

  footer.footer-narrow
    +logotype({})
    .footer-narrow__bottom
      p.footer-narrow__copyright Copyright © 2018 Toxin отель. Все права зачищены.
      ul.footer-narrow__socials 
        each social in socials
          li.footer-narrow__social 
            a.footer-narrow__link-social(
              href=social.href,
              target="_blank",
              rel="noopener noreferrer"
            )
              img.footer-narrow__img(src=social.src, alt="logo")
