-
  const texts = [
  'Нельзя с питомцами', 
  'Без вечеринок и мероприятий', 
  'Время прибытия — после 13:00, а выезд до 12:00'
  ];

.condition
  ul.condition__list
    each val in texts
      li.condition__item
        p.condition__text= val
