mixin condition()
  .condition
    ul.condition__list
      li.condition__item
        p.condition__text Нельзя с питомцами
      li.condition__item
        p.condition__text Без вечеринок и мероприятий
      li.condition__item
        p.condition__text Время прибытия — после 13:00, а выезд до 12:00