include ../input/input

mixin form-sign-in
  form.form
    h1.form__title Войти
    .form__email
      +input({ placeholder: 'Email', types: 'email' })
    .form__password
      +input({ types: 'password', placeholder: 'Пароль' })
    .form__submit_margin_top3
      +button-link({ text: 'ВОЙТИ', type: 'button', theme: 'submit', color: 'colorWhite' })
    .form__reg 
      p.form__text-reg Нет аккаунта на Toxin?
      +button-link({ text: 'СОЗДАТЬ', type: 'link', href: 'registration.html', theme: 'bg', color: 'colorPurple' })
