include ../input/input

mixin form-sign-in
  form.form-sign-in(action="mock-address")
    h1.form-sign-in__title Войти
    .form-sign-in__email
      +input({ placeholder: 'Email', type: 'email' })
    .form-sign-in__password
      +input({ type: 'password', placeholder: 'Пароль' })
    .form-sign-in__submit
      +button({ text: 'войти', type: 'submit', theme: 'filled', icon: 'arrow' })
    .form-sign-in__reg 
      p.form-sign-in__text-reg Нет аккаунта на Toxin?
      +button({ text: 'создать', type: 'link', href: 'registration.html', theme: 'bordered' })
