include ../input/input

mixin form-sign-in
  form.form(action="mock-address")
    h1.form__title Войти
    .form__email
      +input({ placeholder: 'Email', types: 'email' })
    .form__password
      +input({ types: 'password', placeholder: 'Пароль' })
    .form__submit_margin_top3
      +button({ text: 'войти', type: 'button', theme: 'filled' })
    .form__reg 
      p.form__text-reg Нет аккаунта на Toxin?
      +button({ text: 'создать', type: 'link', href: 'registration.html', theme: 'bordered' })
