mixin advantage(options)
  -
    const {texts} = options

  ul.advantage__list 
    each val in texts
      li.advantage__item 
        p(class="font-lg advantage__icon")= val.icon
        p.advantage__text= val.text
          span.advantage__text--color= val.span