mixin advantage(options)
  - const { texts } = options;

  .advantage
    ul.advantage__list 
      each val in texts
        li.advantage__item 
          p.font-lg.advantage__icon= val.icon
          p.advantage__text= val.text
            span.advantage__text_weight_normal= val.span
