.like {
  display: flex;
  align-items: center;
  min-width: 40px;
  height: 20px;
  padding: 0 9px 0 4px;
  font-family: 'Montserrat';
  font-size: 10px;
  line-height: 12px;
  color: $color-25;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  cursor: pointer;

  &::before {
    content: 'favorite_border';
    padding-right: 6px;
    font-family: 'MaterialIcons';
  }

  &_active {
    color: $color-purple;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      ),
      linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border: 1px solid transparent;
    box-shadow: 1px 1000px 1px #fff inset;

    &::before {
      content: 'favorite';
      padding-right: 6px;
      font-family: 'MaterialIcons';
    }
  }
}
