.checkbox__text,
.radio__text,
.toggle__text {
  margin: 0 0 11px;
}

.checkbox__list {
  @include list-reset;

  width: 230px;
  margin: 17px 0 0;
}

.checkbox__item {
  margin-bottom: 12px;
}

.checkbox__label {
  position: relative;
  padding-left: 30px;
  display: block;
  line-height: 18px;
  color: $color-50;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
  }
}

.checkbox__checkbox:checked + .checkbox__label {
  &::before {
    border: 1px solid #BC9CFF;
  }

  &::after {
    position: absolute;
    content: "";
    top: 5px;
    left: 7px;
    width: 6px;
    height: 8px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    transform: rotate(45deg);
  }
}

.checkbox__figure {
  position: relative;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 3px;
    left: 6px;
    z-index: 1;
    width: 7px;
    height: 7px;
    background: #ffffff;
    transform: rotate(45deg);
  }
}

.radio__list {
  @include list-reset;
  @include display-center;

  width: 220px;
  padding: 2px 0 0;
}

.radio__label {
  position: relative;
  padding-left: 30px;
  color: $color-50;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 10px;
  }
}

.radio__radio:checked + .radio__label {
  color: $color-75;

  &::before {
    border: 1px solid #BC9CFF;
  }

  &::after {
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 10px;
  }
}

.toggle {
  margin-bottom: 10px;
}

.toggle__label {
  position: relative;
  padding-left: 50px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 10px;
  }
  
  &::after {
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: rgba(31, 32, 65, 0.25);
    border-radius: 10px;
  }
}

.toggle__checkbox:checked + .toggle__label {
  &::before {
    border: 1px solid #BC9CFF;
  }

  &::after {
    left: 24px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }
}