-
  const img = [
  '../../../assets/img/gallery/image13.jpg', 
  '../../../assets/img/gallery/image14.jpg', 
  '../../../assets/img/gallery/image15.jpg'
  ];

.gallery
  h2.gallery__title Галерея
  ul.gallery__list
    each val in img
      li.gallery__item 
        img.gallery__img(src=val, alt="room")
