.gallery
  h2.visually-hidden Галерея
  ul.gallery__list
    li.gallery__item 
      img(class="gallery__img" src="../../blocks/gallery/img/image13.jpg", alt="room")
    li.gallery__item 
      img(class="gallery__img" src="../../blocks/gallery/img/image14.jpg", alt="room")
    li.gallery__item 
      img(class="gallery__img" src="../../blocks/gallery/img/image15.jpg", alt="room")