.gallery__list {
  @include list-reset;

  display: grid;
  grid-template-columns: 68.2% 32%;
  grid-template-rows: 48.6% 48.6%;
}

.gallery__item:first-child {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

@media (min-width: 1441px) {
  .gallery {
    display: flex;
    justify-content: center;
  }

  .gallery__list {
    grid-template-columns: 981px 459px;
    grid-template-rows: 243px 242px;
  }
}

@media (max-width: $desktop-width) {
  .gallery__list {
    grid-template-rows: 47.6%;
  }
}

@media (max-width: $mobile-width-only) {
  .gallery__list {
    grid-template-columns: 50% 50%;
    grid-template-rows: 61%;
  }
  
  .gallery__item:first-child {
    grid-column-end: 3;
    grid-row-end: 2;
  }
}