.gallery__list {
  display: grid;
  grid-template-columns: 68% 32%;
  grid-template-rows: 50%;
  margin: 0;
	padding: 0;
	list-style: none;
}

.gallery__item {
  display: flex;
  margin-bottom: -1px;

  &:first-child {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

.gallery__img {
  width: 100%;
}

@media (min-width: 1441px) {
  .gallery {
    display: flex;
    justify-content: center;
  }

  .gallery__list {
    grid-template-columns: 981px 459px;
    grid-template-rows: 243px;
  }
}

@media (max-width: $mobile-width-only) {
  .gallery__list {
    grid-template-columns: 50% 50%;
    grid-template-rows: 61%;
  }
  
  .gallery__item:first-child {
    grid-column-end: 3;
    grid-row-end: 2;
  }
}