-
  const img = [
  '../../blocks/gallery/img/image13.jpg', 
  '../../blocks/gallery/img/image14.jpg', 
  '../../blocks/gallery/img/image15.jpg'
  ];

.gallery
  h2.gallery__title Галерея
  ul.gallery__list
    each val in img
      li.gallery__item 
        img.gallery__img(src=val, alt="room")
