.gallery {
  @include list-reset;

  display: grid;
  grid-template-columns: 981px 459px;
  grid-template-rows: 243px 242px;
}

.gallery__item:first-child {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}