.button-like__button {
  display: flex;
  align-items: center;
  width: 40px;
  height: 20px;
  padding: 0 4px;
  font-family: 'MaterialIcons';
  font-size: 10px;
  line-height: 9px;
  color: $color-25;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;

  &_font_another {
    padding-left: 6px;
    font-family: 'Montserrat';
    line-height: 12px;
  }

  &_active {
    color: $color-purple;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border: 1px solid transparent;
    box-shadow: 1px 1000px 1px #fff inset;
  }
}

.button-rate {
  display: flex;
}

.button-rate__icon {
  display: inline-block;
  font-style: normal;
  cursor: pointer;
}

.button-link__link {
  display: flex;
  align-items: center;  
  justify-content: center;
  width: 99px;
  height: 44px;
  color: #ffffff;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border: 2px solid transparent;
  border-radius: 22px;
  box-shadow: none;
  transition: all 0.4s ease;

  &:hover,
  &_hovering {
    opacity: 0.5;
  }  

  &_bordered {
    color: $color-purple;
    box-shadow: 2px 1000px 1px #fff inset;
  }

  &_narrow {
    width: 87px;
    height: 34px;
  }
  
  &_wide {
    width: 196px;
    height: 34px;
  }
}

.button-link2__link {
  color: $color-purple;
  transition: all 0.4s ease;

  &:hover,
  &_hovering {
    color: $color-50;
  }  
}

.button-submit{
  position: relative;
}

.button-submit__input {
  width: 100%;
  padding: 14px 0;
  color: #ffffff;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border: none;
  border-radius: 22px;
  transition: all 0.4s ease;

  &:hover {
    opacity: 0.5;
  } 
}

.button-submit__icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ffffff;
}