mixin button(options)
  -
    const { text, href, type, theme, icon, state, size } = options;

    const tag = {
      link: 'a',
      button: 'button',
    }

    const themeModifiers = {
      bordered: 'button_theme_bordered',
      filled: 'button_theme_filled',
    };

    const iconModifiers = {
      arrow: 'button_icon_arrow',
    };

    const stateModifiers = {
      hovering: 'button_hovering',
      opaque: 'button_theme_bordered_opaque',
    };

    const sizeModifiers = {
      compact: 'button_size_compact',
    };

    const classes = [
      themeModifiers[theme], 
      iconModifiers[icon], 
      stateModifiers[state],
      sizeModifiers[size],
    ];

  #{tag[type]}.button(class=classes, href=href)= text
