.colors-type {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 7px 10.4%;
}

.colors-type__block1 {
  max-width: 290px;
}

.colors-type__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.colors-type__item {
  display: flex;
  margin: 18px 0;
}

.colors-type__color {
  width: 70px;
  height: 70px;
  margin-right: 40px;
  border-radius: 6px;

  &_gray100 {
    background: $color;
  }

  &_gray75 {
    background: $color-75;
  }

  &_gray50 {
    background: $color-50;
  }

  &_gray25 {
    background: $color-25;
  }

  &_gray5 {
    background: $color-5;
  }

  &_purple {
    background: $color-purple;
  }

  &_green {
    background: $color-green;
  }
}

.colors-type__text {
  margin: 8px 0;
  font-weight: bold;
  font-size: 19px;
  line-height: 28px;
  color: $color;

  &_weight_normal {
    margin: 0;
    display: block;
    font-weight: normal;
  }

  &_margin_top {
    margin: 31px 0 36px;
  }

  &_width_maximum {
    max-width: 315px;
    margin-top: 31px;
  }
}

.colors-type__block2 {
  max-width: 448px;
}

.colors-type__table {
  display: table;
}

.colors-type__tr {
  vertical-align: baseline;
}

.colors-type__tag {
  margin-right: 27px;
  font-weight: normal;
  text-align: right;
  color: $color-25;
}

@media (max-width: $mobile-width-only) {
  .colors-type {
    margin: 15px;
  }
}
