.colors-type {
  &__logo {
    display: flex;
    margin: 30px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 67px 10.4%;
  }

  &__colors {
    margin: 0 0 50px;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    margin-bottom: 20px;
  }

  &__square {
    width: 70px;
    height: 70px;
    margin-right: 40px;
    border-radius: 6px;

    &_color_darkest-gray {
      background: $color;
    }

    &_color_dark-gray {
      background: $color-75;
    }

    &_color_gray {
      background: $color-50;
    }

    &_color_light-gray {
      background: $color-25;
    }

    &_color_lightest-gray {
      background: $color-5;
    }

    &_color_purple {
      background: $color-purple;
    }

    &_color_green {
      background: $color-green;
    }
  }

  &__text {
    margin: 8px 0 0;
    font-weight: bold;
    font-size: 19px;
    line-height: 28px;
    color: $color;
  }

  &__hex {
    margin: 0;
    font-weight: normal;
    font-size: 19px;
    line-height: 28px;
    color: $color;
  }

  &__titles {
    display: flex;
    max-width: 448px;
  }

  &__item-title {
    vertical-align: baseline;
  }

  &__tag {
    margin-right: 27px;
    font-weight: normal;
    text-align: right;
    color: $color-25;

    &_size_big {
      margin-top: 0;
      font-size: 24px;
      line-height: 29px;
    }

    &_size_medium {
      font-size: 19px;
      line-height: 23px;
    }

    &_size_small {
      font-size: 12px;
      line-height: 15px;
    }
  }

  &__title {
    &_size_big {
      margin-top: 0;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: $color;
    }

    &_size_medium {
      margin-top: 30px;
      font-weight: bold;
      font-size: 19px;
      line-height: 23px;
      color: $color;
    }

    &_size_small {
      margin-top: 30px;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: $color;
    }
  }

  &__desc {
    margin-top: 32px;
  }
}
