extends ../../layouts/ui-kit-layout
include ../../blocks/logo-ui-kit/logo-ui-kit

block head
  - const title = 'Colors type';

block body
  -
    const colors = [
      { color: 'darkest-gray', text: 'Dark Shade 100%', hex: '#1F2041' }, 
      { color: 'dark-gray', text: 'Dark Shade 75%', hex: '#1F2041' }, 
      { color: 'gray', text: 'Dark Shade 50%', hex: '#1F2041' }, 
      { color: 'light-gray', text: 'Dark Shade 25%', hex: '#1F2041' }, 
      { color: 'lightest-gray', text: 'Dark Shade 5%', hex: '#1F2041' }, 
      { color: 'purple', text: 'Purple', hex: '#BC9CFF' }, 
      { color: 'green', text: 'Green', hex: '#6FCF97' },
    ];

  .colors-type 
    .colors-type__logo
      +logo-ui-kit
    .colors-type__content
      ul.colors-type__colors 
        each val in colors
          li.colors-type__item
            div(class=`colors-type__square colors-type__square_color_${val.color}`)
            .colors-type__texts 
              p.colors-type__text= val.text
              p.colors-type__hex= val.hex
      table.colors-type__titles
        tr.colors-type__item-title
          td.colors-type__first-column
            h1.colors-type__tag.colors-type__tag_size_big H1
          td.colors-type__second-column
            h1.colors-type__title.colors-type__title_size_big This one is the sub-section or widget title
        tr.colors-type__item-title
          td.colors-type__first-column
            h2.colors-type__tag.colors-type__tag_size_medium H2
          td.colors-type__second-column
            h2.colors-type__title.colors-type__title_size_medium Next one is the item title inside widgets
        tr.colors-type__item-title
          td.colors-type__first-column
            h3.colors-type__tag.colors-type__tag_size_small H3
          td.colors-type__second-column
            h3.colors-type__title.colors-type__title_size_small This is a label or CTA text
        tr.colors-type__item-title
          td.colors-type__first-column
            p.colors-type__tag Body
          td.colors-type__second-column
            p.colors-type__desc This is the body text which is used for most
              br 
              | of the design, like paragraphs, lists, etc.
