extends ../../layouts/layout
include ../../blocks/logo/logo

block body
  -
    const colors = [
    { className: 'gray100', text: 'Dark Shade 100%', color: '#1F2041' }, 
    { className: 'gray75', text: 'Dark Shade 75%', color: '#1F2041' }, 
    { className: 'gray50', text: 'Dark Shade 50%', color: '#1F2041' }, 
    { className: 'gray25', text: 'Dark Shade 25%', color: '#1F2041' }, 
    { className: 'gray5', text: 'Dark Shade 5%', color: '#1F2041' }, 
    { className: 'purple', text: 'Purple', color: '#BC9CFF' }, 
    { className: 'green', text: 'Green', color: '#6FCF97' }
    ];

  +logo
  .colors-type 
    .colors-type__block1 
      ul.colors-type__list 
        each val in colors
          li.colors-type__item
            div(class=`colors-type__color colors-type__color_${val.className}`)
            p.colors-type__text= val.text
              span.colors-type__text_weight_normal= val.color
    .colors-type__block2 
      table.colors-type__table 
        tr.colors-type__tr 
          td.colors-type__td 
            h1.font-h1.colors-type__tag H1
          td.colors-type__td 
            h1.font-h1 This one is the sub-section or widget title
        tr.colors-type__tr 
          td.colors-type__td 
            h2.font-h2.colors-type__tag H2
          td.colors-type__td 
            h2.font-h2.colors-type__text_margin_top Next one is the item title inside widgets
        tr.colors-type__tr 
          td.colors-type__td 
            h3.font-h3.colors-type__tag H3
          td.colors-type__td 
            h3.font-h3 This is a label or CTA text
        tr.colors-type__tr 
          td.colors-type__td 
            p.colors-type__tag Body
          td.colors-type__td 
            p.colors-type__text_width_maximum This is the body text which is used for most of the design, like paragraphs, lists, etc.
