mixin slide(options)
  - const { text, desc } = options;

  .slide
    h3.slide__text= text
    h3.slide__text.js-slide__text.slide__text_colored 5 000₽ - 10 000₽
  .slide__slide.js-slide__slide
  p.slide__desc= desc
