include ../../blocks/input/input
include ../../blocks/checkbox-radio/checkbox-radio
include ../../blocks/button/button
include ../../blocks/range-slider/range-slider
include ../../blocks/text/text

.form-elements 
  .form-elements__block1
    .form-elements__block-input
      +input({textLeft: 'Text Field', textRight: 'default', type: 'email', placeholder: 'Email'})
    .form-elements__block-input
      +input({textLeft: 'Text Field', textRight: 'Hover / Focus', type: 'text', placeholder: 'This is pretty awesome', className: 'input__input--hover'})
    .form-elements__block-dropdown
      +input-dropdown({
        textLeft: 'dropdown', 
        id: 'dropdown', 
        placeholder: 'Сколько гостей',
        options: [
          {text: 'взрослые', number: 0, className: 'input__btn--opacity'}, 
          {text: 'дети', number: 0, className: 'input__btn--opacity'}, 
          {text: 'младенцы', number: 0, className: 'input__btn--opacity'}
        ]
      })
    .form-elements__block-input
      +input({textLeft: 'masked text field', type: 'text', placeholder: 'ДД.ММ.ГГГГ'})
    .form-elements__block-dropdowns
      .form-elements__block-dropdown
        +input-dropdown({textLeft: 'date dropdown', id: 'dropdown1', placeholder: 'ДД.ММ.ГГГГ', className: 'input__input--width'})
      .form-elements__block-dropdown
        +input-dropdown({textLeft: 'date dropdown', id: 'dropdown2', placeholder: '19.08.2019', className: 'input__input--width'})
    .form-elements__block-dropdown
      +input-dropdown({textLeft: 'filter date dropdown', id: 'dropdown3', placeholder: '19 авг - 23 авг'})
    .form-elements__block-input
      +input-email({textLeft: 'subscription text field', type: 'email', placeholder: 'Email'})
  .form-elements__block2 
    .form-elements__block-checkbox
      +checkbox({
        text: 'Checkbox Buttons',
        options: [
          {label: 'Можно курить', id: 'smoke', checked: false},
          {label: 'Можно с питомцами', id: 'pets', checked: true},
          {label: 'Можно пригласить гостей (до 10 человек)', id: 'guests', checked: true}
        ]
      })
    .form-elements__block-radio
      h3(class="font-h3 form-elements__text") Radio Buttons
      +radio()
    .form-elements__block-toggle
      h3(class="font-h3 form-elements__text form-elements__text--margin") toggle
      +toggle({text: 'toggle', checkbox: 'checkbox1', checked: true})
      +toggle({text: '', checkbox: 'checkbox2', checked: false})
    .form-elements__block-button
      h3(class="font-h3 form-elements__text") like button
      div(class='form-elements__block-buttons form-elements__block-buttons--width1')
        +button-like({text: 'favorite_border', number: 2})
        +button-like({className: 'button-like--active', text: 'favorite', number: 12})
    .form-elements__block-button
      h3(class="font-h3 form-elements__text") rate button
      div(class='form-elements__block-buttons form-elements__block-buttons--width2')
        +button-rate({number: 4})
        +button-rate({number: 5})
  .form-elements__block3
    .form-elements__block-range-slider
      +range-slider({textLeft: 'Range Slider', textRight: '5 000₽ - 10 000₽'})
    .form-elements__block-button
      h3(class="font-h3 form-elements__text") buttons
      div(class='form-elements__block-buttons form-elements__block-buttons--width3 form-elements__block-buttons--margin')
        +button-link({text: 'click me', className: 'button-link__link'})
        +button-link({text: 'click me', className: 'button-link__link button-link__link--hover'})
      div(class='form-elements__block-buttons form-elements__block-buttons--width3 form-elements__block-buttons--margin')
        +button-link({text: 'click me', className: 'button-link__link button-link__link--border'})
        +button-link({text: 'click me', className: 'button-link__link button-link__link--hover button-link__link--border'})
      div(class='form-elements__block-buttons form-elements__block-buttons--width4 form-elements__block-buttons--margin')
        +button-link({text: 'click me', className: 'button-link2__link'})
        +button-link({text: 'click me', className: 'button-link2__link button-link2__link--hover'})
      div(class='form-elements__block-buttons')
        +button-submit({text: 'перейти к оплате'})
    .form-elements__block-pagination
      h3(class="font-h3 form-elements__text form-elements__text--margin2") pagination
      include ../../blocks/pagination/pagination
  .form-elements__block4
    .form-elements__block-dropdown
      +input-dropdown({
        textLeft: 'dropdown', 
        textRight: 'default',
        id: 'dropdown4', 
        placeholder: '2 спальни, 2 кровати...',
        options: [
          {text: 'спальни', number: 2}, 
          {text: 'кровати', number: 2}, 
          {text: 'ванные комнаты', number: 0, className: 'input__btn--opacity'}
        ]   
      })
    .form-elements__block-dropdown
      +input-dropdown({
        textLeft: 'dropdown', 
        textRight: 'expanded', 
        textLeft2: 'очистить', 
        textRight2: 'применить', 
        id: 'dropdown5', 
        placeholder: '2 спальни, 2 кровати...', 
        className: 'input__input--border', 
        className2: 'input__select-options--display', 
        options: [
          {text: 'спальни', number: 2}, 
          {text: 'кровати', number: 2}, 
          {text: 'ванные комнаты', number: 0, className: 'input__btn--opacity'}
        ]   
      })
  .form-elements__block5
    .form-elements__block-dropdown
      +input-dropdown({
        textLeft: 'dropdown', 
        textRight2: 'применить', 
        id: 'dropdown6', 
        placeholder: 'Сколько гостей', 
        className: 'input__input--border', 
        className2: 'input__select-options--display', 
        options: [
          {text: 'взрослые', number: 0, className: 'input__btn--opacity'}, 
          {text: 'дети', number: 0, className: 'input__btn--opacity'}, 
          {text: 'младенцы', number: 0, className: 'input__btn--opacity'}
        ],
        btns: true
      })
  .form-elements__block6
    .form-elements__block-dropdown
      +input-dropdown({
        textLeft: 'dropdown', 
        textLeft2: 'очистить', 
        textRight2: 'применить', 
        id: 'dropdown7', 
        placeholder: '3 гостя', 
        className: 'input__input--border', 
        className2: 'input__select-options--display', 
        options: [
          {text: 'взрослые', number: 2}, 
          {text: 'дети', number: 1}, 
          {text: 'младенцы', number: 0, className: 'input__btn--opacity'}
        ],
        btns: true
      })
  .form-elements__block7
    .form-elements__block-checkbox-list
      +checkbox-list({className: 'checkbox__list--display'})
    .form-elements__block-checkbox-list
      +checkbox-list({className2: 'checkbox-list__icon--rotate'})
  .form-elements__block8
    +checkbox-buttons({
      className: 'checkbox__list--width',
      classNameList1: 'checkbox__item--width1',
      classNameList2: 'checkbox__item--width2',
    })
  .form-elements__block9
    +text()
  .form-elements__block10
    +text-advantage()
  .form-elements__block11
    +text-feedback()