.form-elements {
  @include display-top;

  flex-wrap: wrap;
  margin: 23px 9.8%;
}

.form-elements__block1 {
  width: 320px;
  margin-bottom: 59px;
}

.form-elements__texts {
  @include display-top;
}

.form-elements__text {
  margin: 0 0 5px;

  &--color {
    font-weight: normal;
    color: $color-50;
  }
}

.form-elements__block:nth-child(2),
.form-elements__block:nth-child(3) {
  margin-top: 20px;
}

.form-elements__block:nth-child(4) {
  margin-top: 23px;
}

.form-elements__block:nth-child(5) {
  @include display-top;
  
  margin-top: 40px;
}

.form-elements__block:nth-child(6),
.form-elements__block:nth-child(7) {
  width: 266px;
  margin: 41px 0;
}

.form-elements__block2 {
  width: 266px;

  & .form-elements__block:nth-child(2) {
    margin-top: 42px;
  }
  
  & .form-elements__block:nth-child(3) {
    margin-top: 40px;
  }
  
  & .form-elements__block:nth-child(4) {
    margin-top: 44px;
  }
  
  & .form-elements__block:nth-child(5) {
    display: block;
    margin-bottom: 40px;
  }
}

.form-elements__block-checkbox {
  margin-top: 12px;
}

.form-elements__block-radio {
  margin-top: 8px;
}

.form-elements__block-toggle {
  margin-top: 7px;
}

.form-elements__block-like {
  @include display-top;

  width: 90px;
  margin-top: 11px;
}

.form-elements__block-rate {
  @include display-top;

  width: 260px;
  margin-top: 11px;
}

.form-elements__block3 {
  width: 320px;

  & .form-elements__block:nth-child(1) {
    width: 266px;
  }

  & .form-elements__block:nth-child(2) {
    margin-top: 43px;
  }
  
  & .form-elements__block:nth-child(3) {
    margin: 41px 0;
  }
}

.form-elements__block-link-bg {
  @include display-top;
  
  width: 218px;
  margin-top: 11px;

  &--margin {
    margin-top: 30px;
  }
}

.form-elements__block-link {
  @include display-top;
  
  width: 143px;
  margin-top: 26px;
}

.form-elements__block-link-submit {
  margin-top: 26px;
}

.form-elements__block-pagination {
  margin-top: 10px;
}

.form-elements__block4 {
  width: 266px;
  height: 300px;
  margin-right: 9.3%;
  margin-bottom: 10px;
}

.form-elements__block5,
.form-elements__block6 {
  width: 320px;
  height: 266px;
}

.form-elements__block7 {
  width: 266px;
  margin-right: 9.3%;
  margin-bottom: 71px;

  & .form-elements__block:nth-child(2) {
    margin-top: 29px;
  }
}

.form-elements__block8,
.form-elements__block9 {
  width: 320px;
  margin-top: 10px;
}

.form-elements__block10 {
  width: 320px;
}

.form-elements__block11 {
  width: 710px;
  margin-top: 30px;
}

@media (max-width: $desktop-width) {
  .form-elements__block1 {
    margin-bottom: 0;
  }

  .form-elements__block4,
  .form-elements__block8 {
    margin-right: 0;
  }

  .form-elements__block7 {
    margin-bottom: 40px;
  }
}

@media (max-width: $tablet-width) {
  .form-elements {
    margin: 15px;
  }
}