.form-elements {
  @include display-top;

  width: 80.4%;
  margin: 28px auto;
  flex-wrap: wrap;
}

.form-elements__block1,
.form-elements__block3 {
  width: 320px
}

.form-elements__block-input:nth-child(2) {
  margin-top: 20px;
}

.form-elements__block-dropdown {
  margin-top: 21px;
}

.form-elements__block-input:nth-child(4) {
  margin-top: 22px;
}

.form-elements__block-dropdowns {
  @include display-top;
  
  margin-top: 19px;
}

.form-elements__block-dropdown:nth-child(6),
.form-elements__block-input:nth-child(7) {
  width: 266px;
  margin-top: 41px;
}

.form-elements__block2 {
  width: 266px;
}

.form-elements__block-radio {
  margin-top: 42px;
}

.form-elements__block-toggle,
.form-elements__block-button:nth-child(5) {
  margin-top: 40px;
}

.form-elements__text {
  margin: 0 0 11px;

  &--margin {
    margin-bottom: 13px
  }
}

.form-elements__block-button {
  margin-top: 43px;
}

.form-elements__block-buttons {
  @include display-top;

  width: 90px;
  margin-top: 16px;

  &--width {
    width: 260px;
  }
}

.form-elements__block3 {
  width: 320px
}

.form-elements__block-rate-buttons {
  display: flex;
  justify-content: space-between;
  width: 260px;
}

.filter-block-sliders {
  width: 266px;
  margin-bottom: 43px;
}

.form-elements__reg {
  width: 218px;
  margin: 25px 0 50px;
}

.form-elements__item:last-child {
  margin: 0;
}

.form-elements__link {
  padding: 12px 17px;
}

.form-elements__list {
  @include list-reset;
  @include display-center;

  width: 143px;
  margin: -13px 0 26px;
}

.form-elements__pagination {
  margin: 41px 1px 0;
}

.form-elements__pagination-list {
  margin: 15px 0 9px;
}

.form-elements__pagination-text {
  margin: 0 5px;
}

.form-elements__block4 {
  width: 264px;
}



.form-elements__block5,
.form-elements__block6 {
  width: 318px;
}

.form-elements__block5 {
  margin-left: 110px;
}

.form-elements__block7 {
  width: 266px;
  margin-top: 244px;
}

.form-elements__checkbox-list {
  margin-bottom: 36px;
}

.form-elements__block8 {
  width: 299px;
  margin-top: 223px;
  margin-left: 66px;
}

.form-elements__block9 {
  width: 299px;
  margin-top: 252px;
}

.form-elements__list-condition {
  margin: 13px 0;
}

.form-elements__block10 {
  width: 279px;
  margin-top: 48px;
}

.form-elements__block11 {
  width: 710px;
  margin-top: 58px;
}