section.rooms 
  p.rooms__title Номера, которые мы для вас подобрали
  ul.rooms__list 
    li.rooms__item 
      img(class="rooms__img" src="../../blocks/rooms/img/image1.jpg", alt="room")
      a(class="rooms__block-texts" href="room.html")
        .rooms__block-price
          .rooms__block-number
            p.rooms__symbol № 
              span.rooms__number 888
            span.rooms__luxe Люкс
          p.rooms__price 9 990₽
            span.rooms__price-text в сутки
        .rooms__block-estimations
          .rooms__estimations 
            p.rooms__estimation star
            p.rooms__estimation star
            p.rooms__estimation star
            p.rooms__estimation star
            p.rooms__estimation star
          p.rooms__reviews-number 145 
            span.rooms__reviews Отзывов
    li.rooms__item 
      img(class="rooms__img" src="../../blocks/rooms/img/image2.jpg", alt="room")
      a(class="rooms__block-texts" href="room.html")
        .rooms__block-price
          .rooms__block-number
            p.rooms__symbol № 
              span.rooms__number 840
          p.rooms__price 9 990₽
            span.rooms__price-text в сутки
        .rooms__block-estimations
          .rooms__estimations 
            p.rooms__estimation star
            p.rooms__estimation star
            p.rooms__estimation star
            p.rooms__estimation star
            p.rooms__estimation star_border
          p.rooms__reviews-number 65 
            span.rooms__reviews Отзывов
    li.rooms__item 
      img(class="rooms__img" src="../../blocks/rooms/img/image3.jpg", alt="room")
      a(class="rooms__block-texts" href="room.html")
        .rooms__block-price
          .rooms__block-number
            p.rooms__symbol № 
              span.rooms__number 980
            span.rooms__luxe Люкс
          p.rooms__price 8 500₽
            span.rooms__price-text в сутки
        .rooms__block-estimations
          .rooms__estimations 
            p.rooms__estimation star
            p.rooms__estimation star
            p.rooms__estimation star
            p.rooms__estimation star_border
            p.rooms__estimation star_border
          p.rooms__reviews-number 35 
            span.rooms__reviews Отзывов
    li.rooms__item 
      img(class="rooms__img" src="../../blocks/rooms/img/image4.jpg", alt="room")
      a(class="rooms__block-texts" href="room.html")
        .rooms__block-price
          .rooms__block-number
            p.rooms__symbol № 
              span.rooms__number 856
          p.rooms__price 7 300₽
            span.rooms__price-text в сутки
        .rooms__block-estimations
          .rooms__estimations 
            p.rooms__estimation star
            p.rooms__estimation star
            p.rooms__estimation star
            p.rooms__estimation star
            p.rooms__estimation star
          p.rooms__reviews-number 19 
            span.rooms__reviews Отзывов
    li.rooms__item 
      img(class="rooms__img" src="../../blocks/rooms/img/image5.jpg", alt="room")
      a(class="rooms__block-texts" href="room.html")
        .rooms__block-price
          .rooms__block-number
            p.rooms__symbol № 
              span.rooms__number 740
          p.rooms__price 6 000₽
            span.rooms__price-text в сутки
        .rooms__block-estimations
          .rooms__estimations 
            p.rooms__estimation star
            p.rooms__estimation star
            p.rooms__estimation star
            p.rooms__estimation star
            p.rooms__estimation star_border
          p.rooms__reviews-number 44 
            span.rooms__reviews Отзывов
    li.rooms__item 
      img(class="rooms__img" src="../../blocks/rooms/img/image6.jpg", alt="room")
      a(class="rooms__block-texts" href="room.html")
        .rooms__block-price
          .rooms__block-number
            p.rooms__symbol № 
              span.rooms__number 982
          p.rooms__price 5 800₽
            span.rooms__price-text в сутки
        .rooms__block-estimations
          .rooms__estimations 
            p.rooms__estimation star
            p.rooms__estimation star
            p.rooms__estimation star
            p.rooms__estimation star_border
            p.rooms__estimation star_border
          p.rooms__reviews-number 56 
            span.rooms__reviews Отзывов
    li.rooms__item 
      img(class="rooms__img" src="../../blocks/rooms/img/image7.jpg", alt="room")
      a(class="rooms__block-texts" href="room.html")
        .rooms__block-price
          .rooms__block-number
            p.rooms__symbol № 
              span.rooms__number 678
          p.rooms__price 5 500₽
            span.rooms__price-text в сутки
        .rooms__block-estimations
          .rooms__estimations 
            p.rooms__estimation star
            p.rooms__estimation star
            p.rooms__estimation star
            p.rooms__estimation star
            p.rooms__estimation star
          p.rooms__reviews-number 45 
            span.rooms__reviews Отзывов
    li.rooms__item 
      img(class="rooms__img" src="../../blocks/rooms/img/image8.jpg", alt="room")
      a(class="rooms__block-texts" href="room.html")
        .rooms__block-price
          .rooms__block-number
            p.rooms__symbol № 
              span.rooms__number 450
          p.rooms__price 5 300₽
            span.rooms__price-text в сутки
        .rooms__block-estimations
          .rooms__estimations 
            p.rooms__estimation star
            p.rooms__estimation star
            p.rooms__estimation star
            p.rooms__estimation star
            p.rooms__estimation star_border
          p.rooms__reviews-number 39 
            span.rooms__reviews Отзывов
    li.rooms__item 
      img(class="rooms__img" src="../../blocks/rooms/img/image9.jpg", alt="room")
      a(class="rooms__block-texts" href="room.html")
        .rooms__block-price
          .rooms__block-number
            p.rooms__symbol № 
              span.rooms__number 350
          p.rooms__price 5 000₽
            span.rooms__price-text в сутки
        .rooms__block-estimations
          .rooms__estimations 
            p.rooms__estimation star
            p.rooms__estimation star
            p.rooms__estimation star
            p.rooms__estimation star_border
            p.rooms__estimation star_border
          p.rooms__reviews-number 77 
            span.rooms__reviews Отзывов
    li.rooms__item 
      img(class="rooms__img" src="../../blocks/rooms/img/image10.jpg", alt="room")
      a(class="rooms__block-texts" href="room.html")
        .rooms__block-price
          .rooms__block-number
            p.rooms__symbol № 
              span.rooms__number 666
          p.rooms__price 5 000₽
            span.rooms__price-text в сутки
        .rooms__block-estimations
          .rooms__estimations 
            p.rooms__estimation star
            p.rooms__estimation star
            p.rooms__estimation star
            p.rooms__estimation star
            p.rooms__estimation star
          p.rooms__reviews-number 25 
            span.rooms__reviews Отзывов
    li.rooms__item 
      img(class="rooms__img" src="../../blocks/rooms/img/image11.jpg", alt="room")
      a(class="rooms__block-texts" href="room.html")
        .rooms__block-price
          .rooms__block-number
            p.rooms__symbol № 
              span.rooms__number 444
          p.rooms__price 5 000₽
            span.rooms__price-text в сутки
        .rooms__block-estimations
          .rooms__estimations 
            p.rooms__estimation star
            p.rooms__estimation star
            p.rooms__estimation star
            p.rooms__estimation star_border
            p.rooms__estimation star_border
          p.rooms__reviews-number 15 
            span.rooms__reviews Отзывов
    li.rooms__item 
      img(class="rooms__img" src="../../blocks/rooms/img/image12.jpg", alt="room")
      a(class="rooms__block-texts" href="room.html")
        .rooms__block-price
          .rooms__block-number
            p.rooms__symbol № 
              span.rooms__number 352
          p.rooms__price 5 000₽
            span.rooms__price-text в сутки
        .rooms__block-estimations
          .rooms__estimations 
            p.rooms__estimation star
            p.rooms__estimation star
            p.rooms__estimation star
            p.rooms__estimation star_border
            p.rooms__estimation star_border
          p.rooms__reviews-number 55 
            span.rooms__reviews Отзывов
  include ../pagination/pagination