.button-link2__link {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $color-purple;
  cursor: pointer;
  transition: all 0.4s ease;

  &:hover,
  &_hovering {
    color: $color-50;
  }
}
