.subtitle {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $color;

  &__desc {
    font-weight: normal;
    color: $color-50;
  }
}
