.pagination {
  width: 240px;
  text-align: center
}

.pagination__list {
  @include list-reset;

  display: flex;
}

.pagination__item {
  @include display-center;
  width: 40px;
  height: 40px;
  justify-content: center;
  font-size: 12px;
  line-height: 15px;
  color: $color-50;
  cursor: pointer;

  &:first-child {
    font-weight: bold;
    color: #FFFFFF;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
  }

  &:nth-child(4) {
    cursor: default;
  }
}

.pagination__button {
  width: 40px;
  height: 40px;
  padding: 0;
  color: #FFFFFF;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: none;
  border-radius: 22px;
}

.pagination__text {
  margin: 9px 0;
}