.pagination
  ul.pagination__list 
    li.pagination__item 
      a(class="pagination__link" href="#") 1
    li.pagination__item 
      a(class="pagination__link" href="#") 2
    li.pagination__item 
      a(class="pagination__link" href="#") 3
    li.pagination__item 
      span.pagination__symbol ...
    li.pagination__item 
      a(class="pagination__link" href="#") 15
    li.pagination__item 
      button(class='font-icon pagination__button') arrow_forward
  p.pagination__text 1 – 12 из 100+ вариантов аренды