.reviews__list {
  @include list-reset;
}

.reviews__item {
  display: flex;
}

.reviews__block-avatar {
  min-width: 45px;
  margin-right: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__avatar {
  margin-bottom: 15px;
}

.reviews__name {
  margin: 0;
  font-weight: bold;
}

.reviews__date {
  margin: 0;
}

.reviews__review-text {
  margin: 10px 0;
}