.checkbox__list {
  width: 230px;
  margin: 8px 0 0;
	padding: 0;
	list-style: none;

  &_unreflected {
    display: none;
  }

  &_margin_common {
    margin: 17px 0 0;
  }
}

.checkbox__item {
  margin-bottom: 12px;

  &_wide1 {
    width: 230px;
    margin-bottom: 8px;
  }
  
  &_wide2 {
    width: 260px;
  }
}

.checkbox__label {
  position: relative;
  padding-left: 30px;
  display: block;
  line-height: 18px;
  color: $color-50;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
  }

  &_colored1 {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color:$color-75;
  }

  &_colored2 {
    display: block;
    margin: 7px 0 0;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: $color-50;
  }
}

.checkbox__checkbox:checked + .checkbox__label {
  &::before {
    border: 1px solid #BC9CFF;
  }

  &::after {
    position: absolute;
    content: "";
    top: 5px;
    left: 7px;
    width: 6px;
    height: 8px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    transform: rotate(45deg);
  }
}

.checkbox__figure {
  position: relative;
  display: block;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 3px;
    left: 6px;
    z-index: 1;
    width: 7px;
    height: 7px;
    background: #ffffff;
    transform: rotate(45deg);
  }
}

.checkbox-toggle {
  margin-bottom: 10px;
}

.checkbox-toggle__label {
  position: relative;
  padding-left: 49px;

  &::before,
  &::after {
    position: absolute;
    content: "";
    transition: all 0.4s ease;
  }

  &::before {
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 10px;
  }
  
  &::after {
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: linear-gradient(180deg, $color-25);
    border-radius: 10px;
  }
}

.checkbox-toggle__checkbox:checked + .checkbox-toggle__label {
  &::before {
    border: 1px solid #BC9CFF;
  }

  &::after {
    left: 24px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }
}

.checkbox-list__btn {
  display: flex;
	align-items: center;
	justify-content: space-between;
  cursor: pointer;
}

.checkbox-list__button {
  padding: 10px 60px 10px 0;
  text-align: start;
  background: transparent;
  border: none;
}

.checkbox-list__label {
  position: relative;
}

.checkbox-list__icon {
  position: absolute;
  top: -12px;
  right: 10px;

  &_transformed {
    transform: rotate(180deg);
  }
}