mixin checkbox(options)
  -
    const { checked, value, details, fw } = options;

    const fwModifiers = {
      bold: 'checkbox_fw_bold',
    };

    const classes = [
      fwModifiers[fw],
    ];

  label.checkbox(class=classes)= value
    input.checkbox__input(type="checkbox", value=value, checked=checked)
    .checkbox__icons
    if details
      p.checkbox__desc= details
