mixin checkbox(options)
  - 
    const { id, checked, value, details, size, font } = options;

    const sizeModifiers = {
      narrow: 'checkbox_size_narrow',
      wide: 'checkbox_size_wide',
    };

    const fontModifiers = {
      fw: 'checkbox__label_font_fw',
    };

  .checkbox(class= sizeModifiers[size])
    input.checkbox__input(type="checkbox", id= id, name= id, value= value, checked= checked)
    label.checkbox__label(class= fontModifiers[font], for= id)= value
      if details
        br
        span.checkbox__details= details
