.form {
  max-width: 380px;
  margin: 69px 8.3vw;
  padding: 15px 29px 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);

  &--margin-registration {
    margin: 18px auto;
    padding: 15px 26px 29px 32px;
  }
  
  &--margin-sign-in {
    margin: 171px auto;
  }
  
  &--margin-room {
    margin: 0;
  }
}

.form__block-price {
  padding: 16px 0 3px;
  align-items: baseline;
  border: none;
}

.form__nummber {
  font-size: 24px;
}

.form__list {
  @include list-reset;

  margin: 11px 0 0;
}

.form__item {
  @include display-center;
}

.form__text-price,
.form__number-price {
  margin: 5px 0;
}

.form__icon-price {
  margin-left: 9px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: $color-25;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50px;
}

.form__total-amount {
  @include display-center;

  margin: 21px 0 2px;
}

.form__total {
  display: contents;
}

.form__total,
.form__sum {
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  color: $color;
}

.form__ellipsis {
  width: 52%;
  margin: 12px 0 0;
  border: 1px dashed rgba(31, 32, 65, 0.25);
}

.form__title {
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: $color;
}

.form__block-inputs {
  @include display-center;

  margin-bottom: 20px;
}

.form__block-label {
  position: relative;
  
  &--width {
    width: 47%;
  }
  
  &--margin-top {
    margin-top: 19px;
  }
  
  &--margin-bottom {
    margin-bottom: 30px;
  }
  
  &--margin {
    margin: 23px 0;
  }
}

.form__desc {
  margin: 6px 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $color;
}

.form__block-input {
  position: relative;

  &--margin {
    margin: 20px 0 14px;
  }
}

.form__input {
  width: 100%;
  padding: 13px 14px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;

  &--margin {
    margin: 5px 0;
  }
  
  &--margin2 {
    margin: 10px 0 7px;
  }

  &::placeholder {
    line-height: 18px;
    color: $color-75;
  }

  &--placeholder::placeholder {
    color: $color-25;
  }

  &:focus {
    outline: none;
    border: 1px solid rgba(31, 32, 65, 0.5);
    border-radius: 2px;
  }
}

.form__icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: MaterialIcons;
  font-size: 24px;
  line-height: 24px;
  color: $color-50;

  &--color {
    color: #ffffff;
  }
}

.form__select-options {
  position: absolute;
  top: 43px;
  left: 0;
  z-index: 1;
  display: none;
  max-width: 320px;
  width: 100%;
  padding: 0 6px 0 14px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}

.form__select-option {
  @include display-center
}

.form__option,
.form__number {
  margin: 12px 0 10px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $color;
}

.form__btns {
  @include display-center;

  width: 92px;
}

.form__btn {
  width: 30px;
  height: 30px;
  font-size: 18px;
  line-height: 22px;
  color: $color-50;
  background: transparent;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 22px;

  &--opacity {
    opacity: 0.38;
  }
}

.form__buttons {
  @include display-center;

  padding: 19px 0 12px;
}

.form__button {
  padding: 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $color-purple;
  background: transparent;
  border: none;
}

.form__submit {
  width: 100%;
  padding: 12px 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border: 2px solid transparent;
  border-radius: 22px;
  box-shadow: none;
}

.form__radio-list {
  @include list-reset;
  @include display-center;

  width: 220px;
  padding: 2px 0 16px;
}

.form__radio-label {
  position: relative;
  padding: 0 0 0 30px;
  color: $color-50;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 10px;
  }
}

.form__radio:checked + .form__radio-label {
  color: $color-75;

  &::before {
    border: 1px solid #BC9CFF;
  }

  &::after {
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 10px;
  }
}

.form__checkbox-label {
  position: relative;
  padding-left: 50px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 10px;
  }
  
  &::after {
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: rgba(31, 32, 65, 0.25);
    border-radius: 10px;
  }
}

.form__reg {
  @include display-center;

  margin-top:29px
}

.form__text {
  line-height: 18px;
  color: #000000;
}

.form__link {
  padding: 13px 24px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $color-purple;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border: 2px solid transparent;
  border-radius: 22px;
  box-shadow: 2px 1000px 1px #fff inset;

  &--padding {
    padding: 13px 17px;
  }
}