include ../input/input
include ../button/button
include ../text/text
include ../checkbox-radio/checkbox-radio

mixin form-search()
  form.form
    h1(class="font-h1 form__title") Найдём номера под ваши пожелания
    .form__block-inputs 
      +input-dropdown({
        textLeft: 'прибытие', 
        className: 'input__input--width',
        id: 'arrival1', 
        placeholder: 'ДД.ММ.ГГГГ'
      })
      +input-dropdown({
        textLeft: 'выезд', 
        className: 'input__input--width',
        id: 'exit1', 
        placeholder: 'ДД.ММ.ГГГГ'
      })
    +input-dropdown({
        textLeft: 'гости', 
        id: 'guests1', 
        placeholder: 'Сколько гостей',
        options: [
          {text: 'взрослые', number: 0, className: 'input__btn--opacity'}, 
          {text: 'дети', number: 0, className: 'input__btn--opacity'}, 
          {text: 'младенцы', number: 0, className: 'input__btn--opacity'}
        ]
      })
    .form__submit
      +button-submit({text: 'подобрать номер'})

mixin form-room()
  form.form
    .form__block-price
      +text-price({
        spanClassName: 'text-price__number--size1',
        number: 888,
        luxe: 'Люкс',
        price: '9 990',
      })
    .form__block-inputs 
      +input-dropdown({
        textLeft: 'прибытие', 
        className: 'input__input--width',
        id: 'arrival2', 
        placeholder: '19.08.2019'
      })
      +input-dropdown({
        textLeft: 'выезд', 
        className: 'input__input--width',
        id: 'exit2', 
        placeholder: '23.08.2019'
      })
    +input-dropdown({
        textLeft: 'гости', 
        textLeft2: 'очистить', 
        textRight2: 'применить', 
        id: 'guests2', 
        placeholder: '3 гостя', 
        options: [
          {text: 'взрослые', number: 2}, 
          {text: 'дети', number: 1}, 
          {text: 'младенцы', number: 0, className: 'input__btn--opacity'}
        ],
        btns: true
      })
    ul.form__list 
      li.form__item 
        p.form__text-price 9 990₽ х 4 суток
        p.form__number-price 39 960₽
      li.form__item 
        p.form__text-price Сбор за услуги: скидка 2 179₽
          span.form__icon-price i
        p.form__number-price 0₽
      li.form__item 
        p.form__text-price Сбор за дополнительные услуги
          span.form__icon-price i
        p.form__number-price 300₽
    .form__total-amount
      p.form__total Итого
        span.form__ellipsis
      p.form__sum 38 081₽
    +button-submit({text: 'забронировать'})

mixin form-registration()
  form.form
    h1(class="font-h1 form__title") Регистрация аккаунта
    +input({
      type: 'text', 
      placeholder: 'Имя'
    })
    .form__surname
      +input({
        type: 'text', 
        placeholder: 'Фамилия'
      })
    +radio()
    .form__birthday
      +input({
        textLeft: 'дата рождения', 
        type: 'text', 
        placeholder: 'ДД.ММ.ГГГГ'
      })
    +input({
      textLeft: 'данные для входа в сервис', 
      type: 'email', 
      placeholder: 'Email'
    })
    .form__password
      +input({
        type: 'password', 
        placeholder: 'Пароль'
      })
    +toggle({
      checkbox: 'checkbox2', 
      checked: false
    })
    .form__submit--margin1
      +button-submit({text: 'перейти к оплате'})
    .form__reg 
      p.form__text-reg Уже есть аккаунт на Toxin
      +button-link({
        text: 'ВОЙТИ', 
        className: 'button-link__link button-link__link--border'
      })


mixin form-sign-in()
  form.form
    h1(class="font-h1 form__title") Войти
    +input({
      type: 'email', 
      placeholder: 'Email'
    })
    .form__password
      +input({
        type: 'password', 
        placeholder: 'Пароль'
      })
    .form__submit--margin2
      +button-submit({text: 'войти'})
    .form__reg 
      p.form__text-reg Нет аккаунта на Toxin?
      +button-link({
        text: 'Создать', 
        className: 'button-link__link button-link__link--border'
      })