.form {
  width: 380px;
  max-width: 380px;
  padding: 23px 29px 30px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.form__title {
  margin-bottom: 22px;
}

.form__block-inputs {
  @include display-center;

  margin-bottom: 21px;
}

.form__submit {
  margin-top: 31px;

  &--margin1 {
    margin: 23px 0 0;
  }
  
  &--margin2 {
    margin: 19px 0 0;
  }
}

.form__block-price {
  margin: 4px 0 6px;
}

.form__list {
  @include list-reset;

  margin: 17px 0 2px;
}

.form__item {
  @include display-center;

  &:last-child {
    align-items: baseline;
  }
}

.form__text-price,
.form__number-price {
  margin: 0 0 10px;
}

.form__text-price {
  @include display-top;

  width: 75%;
  line-height: 18px;
}

.form__icon-price {
  @include display-center;

  width: 20px;
  height: 20px;
  justify-content: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: $color-25;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50px;
  box-sizing: border-box;
}

.form__total-amount {
  @include display-center;
}

.form__total {
  display: contents;
}

.form__total,
.form__sum {
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  color: $color;
}

.form__ellipsis {
  width: 54%;
  margin: 12px 0 0;
  border-top: 1px dotted rgba(31, 32, 65, 0.25);
}

.form__surname {
  margin: 9px 0 5px;
}

.form__birthday {
  margin: 23px 0 20px;
}

.form__password {
  margin: 10px 0 7px;
}

.form__reg {
  @include display-center;

  margin: 26px 0 -4px;
}

.form__text-reg {
  color: #000000;
}