.form {
  padding: 23px 29px 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.form__inputs {
  @include display-top;

  margin-top: 22px;

  &--margin {
    margin-top: 20px;
  }
}

.form__guests,
.form__name {
  margin-top: 21px;
}

.form__submit {
  margin-top: 31px;

  &--margin1 {
    margin-top: 6px;
  }
  
  &--margin2 {
    margin-top: 23px;
  }
  
  &--margin3 {
    margin-top: 20px;
  }
}

.form__block-price {
  @include display-baseline;
}

.form__symbol {
  margin: 16px 0 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: $color;

  &--size {
    font-size: 24px;
    line-height: 29px;
  }

  &--color {
    color: $color-purple;
  }

  &--padding {
    padding-left: 9px;
  }
}

.form__number {
  margin: 16px 0 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: $color-50;

  &--size {
    font-weight: normal;
    font-size: 12px;
  }
}

.form__list {
  @include list-reset;

  margin: 17px 0;
}

.form__item {
  @include display-baseline;

  margin-bottom: 10px
}

.form__text-price {
  @include display-top;
  
  width: 100%;
  margin: 0;
  line-height: 18px;

  &--justify {
    justify-content: flex-start;
  }
}

.form__icon-price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: $color-25;
  min-width: 20px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50px;

  &--margin {
    margin-left: 10px;
  }
}

.form__number-price {
  width: 33%;
  margin: 0;
  text-align: right;

  &--width {
   width: 31%;
  }
}

.form__amount {
  @include display-baseline;

  &--margin {
    margin-top: 31px;
  }
}

.form__total,
.form__total-number {
  margin: 14px 0;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  color: $color;

  &--transform {
    transform: translateX(9px);
  }
}

.form__ellipsis {
  width: 46.7%;
  border-top: 1px dotted rgba(31, 32, 65, 0.25);
}

.form__surname,
.form__password {
  margin-top: 10px;
}

.form__radio,
.form__checkbox {
  margin-top: 7px;
}

.form__birthdate {
  margin-top: 23px;
}

.form__email {
  margin-top: 20px;
}

.form__reg {
  @include display-center;

  margin-top: 30px;
  color: #000000;
}

.form__text-reg {
  margin: 0;
}

@media (max-width: $mobile-width-only) {
  .form {
    padding: 15px;
  }

  .form__title {
    font-size: 20px;
  }
}