extends ../../layouts/layout
include ../../blocks/header/header
include ../../blocks/advantage/advantage
include ../../blocks/reviews/reviews
include ../../blocks/form-room/form-room
include ../../blocks/button-submit/button-submit
include ../../blocks/footer/footer

block body
  -
    const advantages = [
      {
        icon: 'insert_emoticon', 
        text: 'Комфорт', 
        span: 'Шумопоглощающие стены'
      },
      {
        icon: 'location_city', 
        text: 'Удобство', 
        span: 'Окно в каждой из спален'
      },
      {
        icon: 'whatshot', 
        text: 'Уют', 
        span: 'Номер оснащён камином'
      }
    ]; 

    const reviews = [
      {
        image: 'image16', 
        buttonText: 'favorite', 
        buttonNumber: 12,
        active: true,
        name: 'Мурад Сарафанов', 
        date: '5 дней назад',
        reviewText: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
      },
      {
        image: 'image17', 
        buttonText: 'favorite_border', 
        buttonNumber: 2,
        name: 'Патрисия Стёклышкова', 
        date: 'Неделю назад',
        reviewText: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент'
      }
    ];

  +header({})
  main.page-main.page-main_no_padding
    section.page-main__gallery
      include ../../blocks/gallery/gallery
    .page-main__wrapper
      section.page-main__details
        .page-main__conveniences
          .page-main__convenience
            h2.font-h2.page-main__subtitle Сведения о номере
            +advantage({ texts: advantages })
          .page-main__experience
            h2.font-h2.page-main__subtitle Впечатления от номера
            include ../../blocks/chart/chart
        .page-main__reviews
          h2.font-h2.page-main__subtitle.page-main__subtitle_margin_top1 Отзывы посетителей номера
            span.page-main__subtitle_colored 2 отзыва
          +reviews({ marginList: true, marginItem: true, reviews: reviews })
        .page-main__conditions
          .page-main__condition
            h2.font-h2.page-main__subtitle.page-main__subtitle_margin_top2.page-main__subtitle_padding_left Правила
            include ../../blocks/condition/condition
          .page-main__cancel
            h2.font-h2.page-main__subtitle.page-main__subtitle_margin_top2 Отмена
            p.page-main__cancel-text Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
      section.page-main__form.page-main__form_margin_common3
        +form-room({ textItem: 'Сбор за доп. услуги', padding: true, marginInputs: true, marginAmount: true, display: true, marginIcon: true, width: true })
  +footer({ border: true })
