extends ../../layouts/layout
include ../../blocks/header/header
include ../../blocks/main/main
include ../../blocks/footer/footer

block body
  +header({logoLink: true})
  +main-room-details()
  +footer({
    logoLink: true,
    footerClassName: 'page-footer--border'
  })