@font-face {
  font-family: 'MaterialIcons';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('../assets/fonts/material-icons-regular.woff2') format('woff2'),
    url('../assets/fonts/material-icons-regular.woff') format('woff'),
    url('../assets/fonts/material-icons-regular.ttf') format('ttf'),
    url('../assets/fonts/material-icons-regular.svg') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('../assets/fonts/montserrat-bold.woff2') format('woff2'),
    url('../assets/fonts/montserrat-bold.woff') format('woff'),
    url('../assets/fonts/montserrat-bold.ttf') format('ttf'),
    url('../assets/fonts/montserrat-bold.svg') format('svg');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('../assets/fonts/montserrat-regular.woff2') format('woff2'),
    url('../assets/fonts/montserrat-regular.woff') format('woff'),
    url('../assets/fonts/montserrat-regular.ttf') format('ttf'),
    url('../assets/fonts/montserrat-regular.svg') format('svg');
}
