@font-face {
	font-family: "MaterialIcons";
  font-style: normal;
	font-weight: normal;
	font-display: swap;
	src:
		url("../assets/fonts/MaterialIcons-Regular.woff2") format("woff2"),
		url("../assets/fonts/MaterialIcons-Regular.woff") format("woff");
}

@font-face {
	font-family: "Montserrat";
  font-style: normal;
	font-weight: bold;
	font-display: swap;
	src:
		url("../assets/fonts/Montserrat-Bold.woff2") format("woff2"),
		url("../assets/fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
	font-family: "Montserrat";
  font-style: normal;
	font-weight: normal;
	font-display: swap;
	src:
		url("../assets/fonts/Montserrat-Regular.woff2") format("woff2"),
		url("../assets/fonts/Montserrat-Regular.woff") format("woff");
}