body {
	min-width: 320px;
	max-width: 1920px;
	margin: 0 auto;
	font-family: "Montserrat", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
	font-size: 14px;
  line-height: 24px;
  color: $color-75;
}

.font-h1 {
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: $color;
}

.font-h2 {
	font-weight: bold;
	font-size: 19px;
	line-height: 23px;
	color: $color;
}

.font-h3 {
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: $color;
}

.font-icon {
	font-family: MaterialIcons;
  font-size: 24px;
  line-height: 24px;
  color: $color-50;
}

.font-lg {
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
.visually-hidden--focusable {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

label, 
input,
a, 
button, 
select { 
  cursor: pointer; 
}

a {
	color: inherit;
	text-decoration: none;
}

h1,
h2, 
h3 {
	font-weight: inherit;
}