$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1280px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$color-purple: #bc9cff;
$color-green: #6fcf97;
$color: #1f2041;
$color-75: rgba($color, 0.75);
$color-50: rgba($color, 0.5);
$color-25: rgba($color, 0.25);
$color-5: rgba($color, 0.05);
