$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1920px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$color-purple: #BC9CFF;
$color: #1F2041;
$color-75: rgba($color, 0.75);
$color-50: rgba($color, 0.50);
$color-25: rgba($color, 0.25);