extends ../../layouts/layout
include ../../blocks/form-search/form-search

block head
  - const title = 'Landing page';

block header
  -
    const linksHeader = [
      {
        text: 'О нас',
      },
      {
        text: 'Услуги',
        icon: true
      },
      {
        text: 'Вакансии',
      },
      {
        text: 'Новости',
      },
      {
        text: 'Соглашения',
        icon: true
      },
    ];

block footer
  -
    const linksFooter = [
      { 
        title: 'навигация', 
        links: ['О нас', 'Новости', 'Служба поддержки', 'Услуги'] 
      }, 
      { 
        title: 'о нас', 
        links: ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы'] 
      }, 
      { 
        title: 'служба поддержки', 
        links: ['Соглашения', 'Сообщества', 'Связь с нами'] 
      }
    ];

    const socials = [
      { 
        href: 'https://twitter.com/?lang=ru', 
        src: '../../../assets/img/socials/twitter.svg' 
      }, 
      { 
        href: 'https://ru-ru.facebook.com/', 
        src: '../../../assets/img/socials/facebook.svg' 
      }, 
      { 
        href: 'https://www.instagram.com/?hl=ru', 
        src: '../../../assets/img/socials/instagram.svg' 
      }
    ];

block content
  -
    const guests = [
      {
        text: 'взрослые', 
        number: 0, 
        translucent: true
      }, 
      {
        text: 'дети', 
        number: 0, 
        translucent: true
      }, 
      {
        text: 'младенцы', 
        number: 0, 
        translucent: true
      }
    ];

  main.landing-page.js-landing-page
    .js-slider
      .slItems
        .landing-page__form
          +form-search(guests)
        p.landing-page__text Лучшие номера для вашей работы, отдыха и просто вдохновения
        each val in [3, 1, 2]
          div(
            class=`slItem landing-page__image${val}`,
            style="background-position: center bottom"
          )
