extends ../../layouts/layout
include ../../blocks/header/header
include ../../blocks/form-search/form-search
include ../../blocks/footer/footer

block body
  +header({})
  main.page-main.js-page-main_image1
    .js-slider
      .slItems
        .page-main__form
          +form-search
        p.page-main__text Лучшие номера для вашей работы, отдыха и просто вдохновения
        each val in [3, 1, 2]
          div(
            class=`slItem page-main_background${val}`,
            style="background-position: center bottom"
          )
  +footer({})
