mixin slider(options)
  -
    const {text, desc} = options

  .slider
    .slider__texts
      h3(class="font-h3 slider__text")= text
      h3(class="font-h3 slider__text slider__text--color") 5 000₽ - 10 000₽
    .slider__slider 
    p.slider__desc= desc