.slider__texts {
  @include display-center;
}

.slider__text {
  margin: 0 0 5px;

  &--color {
    font-weight: normal;
    color: $color-50;
  }
}

.slider__slider {
  position: relative;
  margin-top: 19px;
}

.slider__scale {
  height: 6px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 3px;
}

.slider__bar {
  height: 6px;
  margin: -1px 35% 0 29%;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 3px;
}

.slider__toggle {
  position: absolute;
  top: -5px;
  width: 16px;
  height: 16px;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  cursor: pointer;
}

.slider__toggle-min {
  left: 75px;
}

.slider__toggle-max {
  left: 160px;
}

.slider__desc {
  font-size: 12px;
  line-height: 17px;
  color: $color-50;
}