.button-link__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 18px;
  color: #ffffff;
  text-decoration: none;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border: 2px solid transparent;
  border-radius: 22px;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.4s ease;

  &:hover,
  &_hovering {
    opacity: 0.5;
  }

  &_bordered {
    color: $color-purple;
    box-shadow: 2px 1000px 1px #fff inset;
  }

  &_padding {
    padding: 7px 18px;
  }
}

.button-link2__link {
  color: $color-purple;
  cursor: pointer;
  transition: all 0.4s ease;

  &:hover,
  &_hovering {
    color: $color-50;
  }
}
