.button-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 18px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: $color;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border: 2px solid transparent;
  border-radius: 22px;
  cursor: pointer;
  transition: all 0.4s ease;

  &_color-white {
    color: #ffffff;
    box-shadow: none;
  }
  
  &_color-purple {
    color: $color-purple;
    box-shadow: 2px 1000px 1px #fff inset;
  }

  &:hover,
  &_hovering {
    opacity: 0.5;
  }
  
  &_padding {
    padding: 7px 18px;
  }
}

.button-link2 {
  padding: 0;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $color-purple;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;

  &:hover,
  &_hovering {
    color: $color-50;
  }
}