.filter
  div(class="form__block-label") 
    p.form__desc даты пребывания в отеле
    .form__block-input
      input(class="form__input" type="text" id="input1" placeholder="19 авг - 23 авг" readonly)
      label(class="form__label" for="input1") 
        span.form__icon expand_more
  div(class="form__block-label form__block-label--margin-bottom filter-block")
    p.form__desc гости
    .form__block-input
      input(class="form__input" type="text" id="input3" placeholder="3 гостя, 1 младенец" readonly)
      label(class="form__label" for="input3") 
        span.form__icon expand_more
      .form__select-options
        .form__select-option
          p.form__option взрослые
          .form__btns 
            input(class="form__btn" type="button" value="-")
            span.form__number 2 
            input(class="form__btn" type="button" value="+")
        .form__select-option
          p.form__option дети
          .form__btns 
            input(class="form__btn" type="button" value="-")
            span.form__number 1 
            input(class="form__btn" type="button" value="+")
        .form__select-option
          p.form__option младенцы
          .form__btns 
            input(class="form__btn form__btn--opacity" type="button" value="-")
            span.form__number 0 
            input(class="form__btn" type="button" value="+")
  .filter-block
    .filter-block-desc
      p.filter__desc диапазон цены
      p.filter__price 5 000₽ - 10 000₽
    .filter-block-slider 
      .filter__scale
        .filter__bar
      div(class="filter__toggle filter__toggle-min")
      div(class="filter__toggle filter__toggle-max")
    p.filter__text Стоимость за сутки пребывания в номере
  div(class="filter-block filter-block--margin1")
    p(class="filter__desc filter__desc--margin") правила дома
    .filter__block-checkbox
      span.filter__figure 
      input(class="filter__checkbox visually-hidden--focusable" type="checkbox" id="smoke")
      label(class="filter__checkbox-label" for="smoke") Можно курить
    .filter__block-checkbox
      span.filter__figure 
      input(class="filter__checkbox visually-hidden--focusable" type="checkbox" id="pets" checked)
      label(class="filter__checkbox-label" for="pets") Можно с питомцами
    .filter__block-checkbox
      span.filter__figure 
      input(class="filter__checkbox visually-hidden--focusable" type="checkbox" id="guests" checked)
      label(class="filter__checkbox-label" for="guests") Можно пригласить гостей (до 10 человек)
  div(class="filter-block filter-block--margin2")
    p(class="filter__desc filter__desc--margin") доступность
    div(class="filter__block-checkbox filter__block-checkbox--width1")
      span.filter__figure 
      input(class="filter__checkbox visually-hidden--focusable" type="checkbox" id="hallway")
      label(class="filter__checkbox-label filter__checkbox-label--color" for="hallway") Широкий коридор
        p.filter__checkbox-text Ширина коридоров в номере не менее 91 см.
    div(class="filter__block-checkbox filter__block-checkbox--width2")
      span.filter__figure 
      input(class="filter__checkbox visually-hidden--focusable" type="checkbox" id="invalid")
      label(class="filter__checkbox-label filter__checkbox-label--color" for="invalid") Помощник для инвалидов
        p.filter__checkbox-text На 1 этаже вас встретит специалист  и проводит до номера.
  div(class="form__block-label form__block-label--margin-bottom filter-block filter-block--margin3")
    p.form__desc Удобства номера
    .form__block-input
      input(class="form__input" type="text" id="input3" placeholder="2 спальни, 2 кровати..." readonly)
      label(class="form__label" for="input3") 
        span.form__icon expand_more
      .form__select-options
        .form__select-option
          p.form__option спальни
          .form__btns 
            input(class="form__btn" type="button" value="-")
            span.form__number 2 
            input(class="form__btn" type="button" value="+")
        .form__select-option
          p.form__option кровати
          .form__btns 
            input(class="form__btn" type="button" value="-")
            span.form__number 2 
            input(class="form__btn" type="button" value="+")
        .form__select-option
          p.form__option ванные комнаты
          .form__btns 
            input(class="form__btn form__btn--opacity" type="button" value="-")
            span.form__number 0 
            input(class="form__btn" type="button" value="+")
  .filter-block
    .filter__block-options
      p.filter__option дополнительные удобства
      span.filter__icon expand_more