extends ../../layouts/layout
include ../../blocks/logo/logo
include ../../blocks/header/header
include ../../blocks/footer/footer
include ../../blocks/footer-reduction/footer-reduction

block body
  h1.headers-footers__title Headers & Footers
  +logo
  .headers-footers
    .headers-footers__block1 
      +header({ hover: true })
    .headers-footers__block2
      +header({ hover: true, name: 'Юлий Цезарь' })
    .headers-footers__block3
      +footer({})
    .headers-footers__block4
      +footer-reduction({ display: true, margin: true, })
