.headers-footers {
  &__logo {
    display: flex;
    margin: 30px;
  }

  &__content {
    margin-top: 62px;
  }

  &__title {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    border: 0;
    clip-path: inset(100%);
  }

  &__list {
    margin-bottom: 40px;

    &_size_narrow {
      max-width: 768px;
      margin: 0 auto;
    }
  }
}
