.headers-footers__title {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.headers-footers {
  margin: 20px 0;
}

.headers-footers__block2,
.headers-footers__block3,
.headers-footers__block4 {
  margin-top: 40px;
}
