extends ../../layouts/ui-kit-layout
include ../../blocks/logo-ui-kit/logo-ui-kit
include ../../blocks/header/header
include ../../blocks/footer/footer

block head
  - const title = 'Headers & footers';

block body
  -
    const linksHeader = [
      {
        state: true,
        text: 'О нас',
      },
      {
        text: 'Услуги',
        icon: true
      },
      {
        text: 'Вакансии',
      },
      {
        text: 'Новости',
      },
      {
        text: 'Соглашения',
        icon: true
      },
    ];

    const linksFooter = [
      { 
        title: 'навигация', 
        links: ['О нас', 'Новости', 'Служба поддержки', 'Услуги'] 
      }, 
      { 
        title: 'о нас', 
        links: ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы'] 
      }, 
      { 
        title: 'служба поддержки', 
        links: ['Соглашения', 'Сообщества', 'Связь с нами'] 
      }
    ];

    const socials = [
      { 
        href: 'https://twitter.com/?lang=ru', 
        src: '../../../assets/img/socials/twitter.svg' 
      }, 
      { 
        href: 'https://ru-ru.facebook.com/', 
        src: '../../../assets/img/socials/facebook.svg' 
      }, 
      { 
        href: 'https://www.instagram.com/?hl=ru', 
        src: '../../../assets/img/socials/instagram.svg' 
      }
    ];

  .headers-footers 
    .headers-footers__logo
      +logo-ui-kit
    .headers-footers__content
      h1.headers-footers__title Headers & Footers
      .headers-footers__list
        +header({ linksHeader })
      .headers-footers__list
        +header({ linksHeader, name: 'Юлий Цезарь' })
      .headers-footers__list
        +footer({ linksFooter, socials })
      .headers-footers__list.headers-footers__list_size_narrow
        +footer({ linksFooter, socials, state: 'displayed' })
