extends ../../layouts/ui-kit-layout
include ../../blocks/logo/logo
include ../../blocks/header/header
include ../../blocks/footer/footer
include ../../blocks/footer-reduction/footer-reduction

block head
  - const title = 'Headers & footers';

block body
  +logo
  .headers-footers
    h1.headers-footers__title Headers & Footers
    +header({hovering: true})
    .headers-footers_compact
      +header({ name: 'Юлий Цезарь', hovering: true })
    .headers-footers_compact
      +footer({})
    .headers-footers_compact
      +footer-reduction({ display: true, margin: true, })
