.radio
  ul.radio__list 
    li.radio__item 
      input(class="radio__radio visually-hidden--focusable" type="radio" id="man" name="man-woman" checked)
      label(class="radio__label" for="man") Мужчина
    li.radio__item
      input(class="radio__radio visually-hidden--focusable" type="radio" id="woman" name="man-woman") 
      label(class="radio__label" for="woman") Женщина