.radio
  ul.radio__list 
    li.radio__item 
      input#man.radio__radio.visually-hidden_focusable(
        type="radio",
        name="man-woman",
        checked
      )
      label.radio__label(for="man") Мужчина
    li.radio__item
      input#woman.radio__radio.visually-hidden_focusable(
        type="radio",
        name="man-woman"
      ) 
      label.radio__label(for="woman") Женщина
