mixin checkbox-list(options)
  -
    const { value, state, checkboxes } = options;

    const stateModifiers = {
      active: 'checkbox-list_state_active',
    };

    const classes = [
      stateModifiers[state],
    ];

  .checkbox-list.js-checkbox-list(class=classes)
    button.checkbox-list__button(type="button")= value
    .checkbox-list__checkboxes
      each val in checkboxes
        .checkbox-list__checkbox
          +checkbox(val)
