mixin checkbox-list(options)
  - const { text, unreflected, transform = '', checkboxs } = options;

  .checkbox-list
    .checkbox-list__btn.js-checkbox-list__btn
      input.font-h3.checkbox-list__button(type="button", value=text)
      label.checkbox-list__label 
        span(class=`font-icon checkbox-list__icon ${transform}`) expand_more
    +checkbox({ listClassName: unreflected, checkboxs: checkboxs })
