mixin checkbox-list(options)
  - 
    const { value, state, checkboxes } = options;

    const stateModifiers = {
      active: 'checkbox-list_state_active',
    };

  .checkbox-list.js-checkbox-list(class= stateModifiers[state])
    button.checkbox-list__button(type="button")= value
    .checkbox-list__checkboxes
      each checkbox in checkboxes
        +checkbox(checkbox)
