.checkbox-list {
  &__button {
    position: relative;
    width: 100%;
    margin-bottom: 6px;
    padding: 11px 0;
    text-align: start;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: $color;
    text-transform: uppercase;
    background: transparent;
    border: none;
    cursor: pointer;

    &::before {
      position: absolute;
      content: 'expand_more';
      top: 11px;
      right: 11px;
      font-family: MaterialIcons;
      font-size: 20px;
      text-transform: none;
    }
  }

  &_state_active #{&}__button::before {
    transform: rotate(180deg);
  }

  &_state_active #{&}__list {
    display: block;
  }

  &__list {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-left: 30px;
    margin-bottom: 6px;
  }
}
