include ../header/header
include ../footer/footer

.headers-footers
  .headers-footers__block1 
    +header({})
  .headers-footers__block2
    +header({name: 'Юлий Цезарь'})
  .headers-footers__block3
    +footer()
  .headers-footers__block4
    +footer-reduction({
      bottomClassName: 'page-footer__bottom--display',
      listClassName: 'page-footer__socials--margin',
    })