include ../../blocks/header/header
include ../../blocks/footer/footer

.headers-footers__block1 
  +header({aLink: false})
.headers-footers__block2
  +header({aLink: false, name: 'Юлий Цезарь'})
.headers-footers__block3
  +footer({aLink: false})
.headers-footers__block4
  +footer-creative({aLink: false})