extends ../../layouts/ui-kit-layout
include ../../blocks/logo-ui-kit/logo-ui-kit
include ../../blocks/form-search/form-search
include ../../blocks/form-booking/form-booking
include ../../blocks/form-sign-up/form-sign-up
include ../../blocks/form-sign-in/form-sign-in
include ../../blocks/card-room/card-room

block head
  - const title = 'Cards';

block body
  -
    const guestsSearch = [
      {
        text: 'взрослые', 
        number: 0, 
        translucent: true
      }, 
      {
        text: 'дети', 
        number: 0, 
        translucent: true
      }, 
      {
        text: 'младенцы', 
        number: 0, 
        translucent: true
      }
    ];

    const guestsBooking = [
      {
        text: 'взрослые', 
        number: 2, 
      }, 
      {
        text: 'дети', 
        number: 1, 
      }, 
      {
        text: 'младенцы', 
        number: 0, 
        translucent: true
      }
    ];

    const prices = [
      {
        text: '9 990₽ х 4 суток',
        number: '39 960',
      },
      {
        text: 'Сбор за услуги: скидка 2 179₽',
        number: 0,
        icon: true,
      },
      {
        text: 'Сбор за доп. услуги',
        number: 300,
        icon: true,
      },
    ];

    const genders = [
      { 
        value: 'Мужчина',
        name: 'gender', 
        checked: true 
      }, 
      { 
        value: 'Женщина',
        name: 'gender', 
      }
    ];

    const cards = [
      {
        number: 888,
        category: 'Люкс',
        price: '9 990',
        count: 5,
        review: 145,
        images: ['image1.jpg', 'image2.jpg', 'image3.jpg', 'image4.jpg'],
        state: 'hovering'
      },
      {
        number: 840,
        price: '9 900',
        count: 4,
        review: 65,
        images: ['image2.jpg', 'image1.jpg', 'image4.jpg', 'image3.jpg']
      }
    ];

  .cards
    .cards__logo
      +logo-ui-kit
    .cards__content
      .cards__list
        +form-search(guestsSearch)
      .cards__list
        +form-booking({ prices, guests: guestsBooking })
      .cards__list.cards__list_size_middle
        .dropdown-date.js-calendar5
      .cards__list
        +form-sign-up({ genders, textSubmit: 'перейти к оплате' })
      .cards__list
        +form-sign-in
      .cards__list.cards__list_size_middle
        each val in cards
          .cards__card-room
            +card-room(val)
