extends ../../layouts/ui-kit-layout
include ../../blocks/logo/logo
include ../../blocks/form-search/form-search
include ../../blocks/form-room/form-room
include ../../blocks/form-registration/form-registration
include ../../blocks/form-sign-in/form-sign-in
include ../../blocks/card-photo/card-photo

block head
  - const title = 'Cards';

block body
  -
    const guests = [
      {
        text: 'взрослые', 
        number: 2
      }, 
      {
        text: 'дети', 
        number: 1
      }, 
      {
        text: 'младенцы', 
        number: 0, 
        opacity: true
      }
    ];

    const prices = [
      {
        text: '9 990₽ х 4 суток',
        number: '39 960₽',
      },
      {
        text: 'Сбор за услуги: скидка 2 179₽',
        number: '0₽',
        state: 'information'
      },
      {
        text: 'Сбор за дополнительные услуги',
        number: '300₽',
        state: 'information'
      }
    ];

    const cards = [
      {
        number: 888,
        category: 'Люкс',
        price: '9 990',
        count: 5,
        review: 145,
        images: ['image1.jpg', 'image2.jpg', 'image3.jpg', 'image4.jpg'],
        state: 'hovering'
      },
      {
        number: 840,
        category: '',
        price: '9 900',
        count: 4,
        review: 65,
        images: ['image2.jpg', 'image1.jpg', 'image4.jpg', 'image3.jpg']
      }
    ];

  +logo
  .cards
    .cards__block1
      +form-search
    .cards__block2
      +form-room({ prices: prices, guests: guests })
    .cards__block3
      .js-datepick1
    .cards__block4
      +form-registration({ textSubmit: 'ПЕРЕЙТИ К ОПЛАТЕ' })
    .cards__block5
      +form-sign-in
    .cards__block6
      each card in cards
        .cards__card-photo
          +card-photo(card)
