.cards {
  &__logo {
    display: flex;
    margin: 30px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 72px 9.8%;
  }

  &__list {
    width: 380px;
    margin-bottom: 42px;

    &_size_middle {
      width: 320px;
      margin-top: -6px;
    }

    &:nth-child(4) {
      margin-top: -138px;
    }

    &:last-child {
      margin-top: -144px;
    }

    @media (min-width: 1800px) {
      &:nth-child(4),
      &:last-child {
        margin-top: 0;
      }
    }

    @media (max-width: 1350px) {
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        margin-top: 30px;
      }
    }

    @media (max-width: $mobile-width-only) {
      &:nth-child(4) {
        margin-top: 350px;
      }

      &:last-child {
        margin-top: 0;
      }
    }
  }

  &__card-room {
    width: 270px;
    margin-bottom: 42px;
  }
}
