include ../button/button

mixin nav-reg(options)
  - const { name } = options;

  if name
    a.nav-reg__name(href="/mock-address")= name
  else
    ul.nav-reg 
      li.nav-reg__item
        +button({ text: 'войти', type: 'link', href: 'sign-in.html', theme: 'bordered', size: 'width' })
      li.nav-reg__item
        +button({ text: 'зарегистрироваться', type: 'link', href: 'registration.html', theme: 'filled', size: 'compact' })
