include ../button/button

mixin nav-reg(options)
  - const { name } = options;

  if name
    a.nav-reg__name(href="/mock-address")= name
  else
    ul.nav-reg 
      li.nav-reg__item
        +button-link({ text: 'ВОЙТИ', type: 'link', href: 'sign-in.html', theme: 'bg', color: 'colorPurple', padding: 'padding' })
      li.nav-reg__item
        +button-link({ text: 'ЗАРЕГИСТРИРОВАТЬСЯ', type: 'link', href: 'registration.html', theme: 'bg', color: 'colorWhite', padding: 'padding' })
