mixin nav-reg(options)
  if options.name 
    a(class="nav-reg__name" href="#")= options.name 
  else 
    ul.nav-reg 
      li.nav-reg__item
        a(class="nav-reg__link" href="sign-in.html") Войти
      li.nav-reg__item
        a(class="nav-reg__link nav-reg__link--color" href="registration.html") Зарегистрироваться