extends ../../layouts/layout

block body
  -
    const links = [
    { href: 'colors-type.html', text: 'Colors & Type' }, 
    { href: 'form-elements.html', text: 'Form elements' }, 
    { href: 'cards.html', text: 'Cards' }, 
    { href: 'headers-footers.html', text: 'Headers & Footers' }, 
    { href: 'landing-page.html', text: 'Landing page' }, 
    { href: 'registration.html', text: 'Registration' }, 
    { href: 'sign-in.html', text: 'Sign in' }, 
    { href: 'search-room.html', text: 'Search room' }, 
    { href: 'room-details.html', text: 'Room details' }
    ]; 

  h1.index__title Список сайтов
  ul 
    each val in links
      li
        a.index__link(href=val.href)= val.text
