extends ../../layouts/layout

block body
  ul 
    li 
      a(href="landing-page.html") Landing page 
    li 
      a(href="registration.html") Registration
    li 
      a(href="sign-in.html") Sign in
    li 
      a(href="filter.html") Filter
    li
      a(href="room.html") Room
    li
      a(href="colors-type.html") Colors & Type
    li
      a(href="cards.html") Cards
    li
      a(href="headers-footers.html") Headers & Footers
    li
      a(href="form-elements.html") Form elements