mixin text()
  .text
    h3(class="font-h3 text__text") bullet list
    ul.text__list
      li.text__item
        p.text__text-condition Нельзя с питомцами
      li.text__item
        p.text__text-condition Без вечеринок и мероприятий
      li.text__item
        p.text__text-condition Время прибытия — после 13:00, а выезд до 12:00