.colors-type 
  .colors-type__block1 
    ul.colors-type__list 
      li.colors-type__item
        .colors-type__color 
        p.colors-type__text Dark Shade 100%
          span.colors-type__text_weight_normal #1F2041
      li.colors-type__item
        .colors-type__color 
        p.colors-type__text Dark Shade 75%
          span.colors-type__text_weight_normal #1F2041
      li.colors-type__item
        .colors-type__color 
        p.colors-type__text Dark Shade 50%
          span.colors-type__text_weight_normal #1F2041
      li.colors-type__item
        .colors-type__color 
        p.colors-type__text Dark Shade 25%
          span.colors-type__text_weight_normal #1F2041
      li.colors-type__item
        .colors-type__color 
        p.colors-type__text Dark Shade 5%
          span.colors-type__text_weight_normal #1F2041
      li.colors-type__item
        .colors-type__color 
        p.colors-type__text Purple
          span.colors-type__text_weight_normal #BC9CFF
      li.colors-type__item
        .colors-type__color 
        p.colors-type__text Green
          span.colors-type__text_weight_normal #6FCF97
  .colors-type__block2 
    table.colors-type__table 
      tr.colors-type__tr 
        td.colors-type__td 
          h1(class="font-h1 colors-type__tag") H1
        td.colors-type__td 
          h1(class="font-h1") This one is the sub-section or widget title
      tr.colors-type__tr 
        td.colors-type__td 
          h2(class="font-h2 colors-type__tag") H2
        td.colors-type__td 
          h2(class="font-h2 colors-type__text_margin_top") Next one is the item title inside widgets
      tr.colors-type__tr 
        td.colors-type__td 
          h3(class="font-h3 colors-type__tag") H3
        td.colors-type__td 
          h3(class="font-h3") This is a label or CTA text
      tr.colors-type__tr 
        td.colors-type__td 
          p(class="colors-type__tag") Body
        td.colors-type__td 
          p(class="colors-type__text_width_maximum") This is the body text which is used for most of the design, like paragraphs, lists, etc.