mixin input-email
  .input 
    form.input__form.js-input__form
      input#email.input__input.input__input_padding_common(
        type="email",
        placeholder="Email"
      )
      input.font-icon.font-lg.input__submit(
        type="submit",
        value="arrow_forward"
      )
