include ../input-email/input-email
include ../footer-bottom/footer-bottom

mixin footer(options)
  - const { border = '' } = options;

  footer(class=`page-footer ${border}`)
    .page-footer__logo
      +logotype({ displayed: 'logotype__img_displayed' })
    .page-footer__top
      .page-footer__block-logo 
        +logotype(options)
        p.page-footer__text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      .page-footer__block-nav 
        h3.font-h3.page-footer__links навигация
        ul.page-footer__list 
          li.page-footer__item 
            a.page-footer__link О нас
          li.page-footer__item 
            a.page-footer__link Новости
          li.page-footer__item 
            a.page-footer__link Служба поддержки
          li.page-footer__item 
            a.page-footer__link Услуги
      .page-footer__block-nav 
        h3.font-h3.page-footer__links о нас
        ul.page-footer__list 
          li.page-footer__item 
            a.page-footer__link О сервисе
          li.page-footer__item 
            a.page-footer__link Наша команда
          li.page-footer__item 
            a.page-footer__link Вакансии
          li.page-footer__item 
            a.page-footer__link Инвесторы
      .page-footer__block-nav 
        h3.font-h3.page-footer__links служба поддержки
        ul.page-footer__list 
          li.page-footer__item 
            a.page-footer__link Соглашения
          li.page-footer__item 
            a.page-footer__link Сообщества
          li.page-footer__item 
            a.page-footer__link Связь с нами
      .page-footer__block-subscription
        h3.font-h3.page-footer__links Подписка
        p.page-footer__text.page-footer__text_margin_common Получайте специальные предложения и новости сервиса
        .page-footer__block-submit 
          +input-email
    .page-footer__center
    +footer-bottom({})
