.footer {
  padding: 100px 0 10px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

  &_bordered {
    border-top: 1px solid rgba(31, 32, 65, 0.25);
  }

  &__top {
    display: flex;
    margin: 0 9.7% 77px;
  }

  &__block-logo {
    width: 280px;
    margin-right: 1.7%;
  }

  &__text {
    margin: 17px 0;
  }

  &__block-nav {
    &:nth-child(2) {
      margin-right: 5%;
    }
  
    &:nth-child(3) {
      margin-right: 8%;
    }
  
    &:nth-child(4) {
      margin-right: auto;
    }
  }

  &__links {
    margin: 4px 0;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $color;
  }

  &__list {
    margin: 22px 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-top: 21px;
    line-height: 17px;
  }

  &__link {
    color: $color-50;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.4s ease;
  
    &:hover {
      text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
    }
  }

  &__block-subscription {
    width: 260px;
  }

  &__subscription {
    margin: 19px 0 24px;
  }

  &__center {
    height: 1px;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 24px 9.7% 13px;
  }

  &__copyright {
    margin: 0;
    text-align: center;
  }
  
  &__socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 112px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  &__link-social {
    display: flex;
    transition: all 0.4s ease;
  
    &:hover {
      transform: scale(1.2);
    }
  }
}

@media (min-width: 1500px) {
  .footer {
    &__top {
      justify-content: space-between;
    }

    &__block-logo {
      margin-right: 0;
    }

    &__block-nav {
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: $desktop-width) {
  .footer {
    &__top {
      justify-content: space-between;
      margin: 0 15px;
    }

    &__block-logo {
      margin-right: 20px;
    }

    &__block-nav {
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        margin-right: 20px;
      }
    }

    &__bottom {
      margin: 24px 15px 13px;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 120px 0 10px;

    &__top,
    &__center {
      display: none;
    }

    &__bottom {
      flex-direction: column;
      margin: 0 auto;
    }

    &__socials {
      margin: 23px 0 98px;
    }
  }
}
