mixin logotype(options)
  - const { displayed } = options;
  - const classNameDisplayed = displayed ? 'logotype__img_displayed' : '';

  .logotype
    a.logotype__link(href="index.html", title="На главную") главная страница
      img(
        class=`logotype__img ${classNameDisplayed}`,
        src="../../../assets/img/logos/Logotype.svg",
        alt="logo"
      ) 
