.logotype__link {
  display: inline-block;
  font-size: 0;
  transition: all 0.4s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.logotype,
.logotype__link {
  display: flex;
}

.logotype__img_displayed {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .logotype__img_displayed {
    display: block;
  }
}
