.card-photo__list {
  @include list-reset;

  &--display {
    @include display-top;

    flex-wrap: wrap;
  }
}

.card-photo__item {
  max-width: 270px;
  padding-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  overflow: auto;

  &--margin1 {
    margin-bottom: 40px;
  }
  
  &--margin2 {
    margin-bottom: 21px;
  }
}

.card-photo__block-img {
  position: relative;
  display: flex;
}

.card-photo__button {
  position: absolute;
  z-index: 1;
  top: 64px;
  color: transparent;
  cursor: pointer;
}

.card-photo__details {
  display: block;
  width: 270px;
  padding: 0 17px;
}

.card-photo__block-price {
  @include display-baseline;

  padding-left: 2px;
}

.card-photo__symbol {
  margin: 21px 0 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: $color;

  &--size {
    font-size: 19px;
    line-height: 23px;
  }

  &--color {
    color: $color-purple;
  }

  &--padding {
    padding-left: 6px;
  }
}

.card-photo__number {
  margin: 21px 0 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: $color-50;

  &--size {
    font-weight: normal;
    font-size: 12px;
  }
}

.card-photo__block-estimations {
  @include display-center;

  width: 98%;
  margin: 0 auto;
  border-top: 1px solid rgba(31, 32, 65, 0.1);
}

.card-photo__text-review {
  margin: 8px 0;
  font-weight: bold;

  &--weight {
    font-weight: normal;
  }
}

.card-photo .flexslider {
  width: 100%;
  margin: 0;
  border: none;
  overflow: hidden;
  
  &--hover .flex-prev,
  &:hover .flex-prev {
    left: 0;
    opacity: 0.7;
  }

  &--hover .flex-next,
  &:hover .flex-next {
    right: 0;
    opacity: 0.7;
  }
}

.card-photo .flex-control-nav {
  bottom: -3px;
  right: -100px;
}

.card-photo .flex-control-nav li {
  margin: 0 2px;
}

.card-photo .flex-control-nav a {
  width: 7px;
  height: 7px;
  background: none;
  border: 1px solid #FFFFFF;
  box-shadow: none;
  filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
}

.card-photo .flex-control-nav .flex-active {
  background: #FFFFFF;
  box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
}

.card-photo .flex-prev,
.card-photo a.flex-next {
  top: 20px;
  height: 100%;
  font-size: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  
  &::before {
    content: 'expand_more';
    font-family: MaterialIcons;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    text-shadow: none;
    transform: rotate(90deg) translate(63px, -10px);
  }
}

.card-photo a.flex-next::before {
  transform: rotate(90deg) translate(63px, 6px);
}

.card-photo .flex-prev {
  transform: revert;
}

@media (max-width: $desktop-width) {
  .card-photo__list--display {
    justify-content: center;
  }

  .card-photo__item {
    &--margin2 {
      margin: 0 15px;
    }
  }
}