.card-photo {
  max-width: 270px;
  margin-bottom: 21px;
  padding-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  overflow: auto;

  &__block-img {
    position: relative;
    display: flex;
  }

  &__details {
    display: block;
    width: 270px;
    padding: 0 17px;
  }

  &__block-price {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 2px;
  }

  &__symbol {
    margin: 21px 0 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: $color;
  }
  
  &__number {
    font-size: 19px;
    line-height: 23px;
  }
  
  &__category {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $color-purple;
  }

  &__price {
    margin: 21px 0 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: $color-50;
  }
  
  &__day {
    font-weight: normal;
    font-size: 12px;
  }

  &__block-estimations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    margin: 0 auto;
    border-top: 1px solid rgba(31, 32, 65, 0.1);
  }

  &__text-review {
    margin: 8px 0;
    font-weight: bold;
  }
  
  &__feedback {
    font-weight: normal;
  }

  & .flexslider {
    width: 100%;
    margin: 0;
    border: none;
    overflow: hidden;
  
    &_hovering .flex-prev,
    &:hover .flex-prev {
      left: 0;
      opacity: 0.7;
    }
  
    &_hovering .flex-next,
    &:hover .flex-next {
      right: 0;
      opacity: 0.7;
    }
  }

  & .flex-control-nav {
    bottom: -3px;
    right: -100px;
  }

  & .flex-control-nav li {
    margin: 0 2px;
  }

  & .flex-control-nav a {
    width: 7px;
    height: 7px;
    background: none;
    border: 1px solid #ffffff;
    box-shadow: none;
    filter: drop-shadow(0px 5px 5px rgba(31, 32, 65, 0.3));
  }

  & .flex-control-nav .flex-active {
    background: #ffffff;
    box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);
  }

  & .flex-prev,
  & a.flex-next {
    top: 20px;
    height: 100%;
    font-size: 0;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 99.99%,
      rgba(255, 255, 255, 0) 100%
    );
    transform: matrix(-1, 0, 0, 1, 0, 0);
  
    &::before {
      content: 'expand_more';
      font-family: MaterialIcons;
      font-size: 24px;
      line-height: 24px;
      color: #ffffff;
      text-shadow: none;
      transform: rotate(90deg) translate(63px, -10px);
    }
  }

  & a.flex-next::before {
    transform: rotate(90deg) translate(63px, 6px);
  }

  & .flex-prev {
    transform: revert;
  }
}

@media (max-width: $desktop-width) {
  .card-photo {
    margin: 0 15px;
  }
}
