include ../form/form

mixin main-landing()
  main.page-main
    section.page-main__form
      +form-search
    p.page-main__text Лучшие номера для вашей работы, отдыха и просто вдохновения

mixin main-registration()
  main(class="page-main page-main--background1")
    section(class="page-main__form page-main__form--margin1")
      +form-registration({textSubmit: 'зарегистрироваться'})

mixin main-sign-in()
  main(class="page-main page-main--background2")
    section(class="page-main__form page-main__form--margin2")
      +form-sign-in