.page-main {
  padding: 70px 20px 21px;
  background: url('../pug/blocks/main/img/image3.jpg') no-repeat center bottom;
}

.page-main__text {
  margin: 317px 7.9vw 0;
  font-weight: normal;
  font-size: 14px;
  text-align: right;
}