.page-main {
  padding: 0 15px;
  background: url('../pug/blocks/main/img/img3.jpg') no-repeat center bottom;
  background-size: cover;
  border: 1px solid transparent;

  &--background1 {
    background: url('../pug/blocks/main/img/img4.jpg') no-repeat center 79%;
    background-size: cover;
  }
  
  &--background2 {
    background: url('../pug/blocks/main/img/img4.jpg') no-repeat center 98%;
    background-size: cover;
  }
  
  &--background3 {
    margin: 0 9.7%;
    padding: 29px 0 51px;
    display: flex;
    background: none;
  }

  &--margin {
    margin: 0;
    padding: 0;
    background: none;
  }
}

.page-main__form {
  max-width: 380px;
  margin: 69px 124px;

  &--margin1 {
    margin: 18px auto;
  }
  
  &--margin2 {
    margin: 172px auto;
  }
  
  &--margin3 {
    width: 100%;
    margin: 17px 0 0 auto;
  }
}

.page-main__text {
  width: 297px;
  margin: 317px 118px 21px auto;
  text-align: right;
}

.page-main__filters {
  min-width: 266px;
  margin-right: 5.1%;
}

.page-main__filter-block2,
.page-main__filter-block7 {
  margin-top: 20px;
}

.page-main__filter-block3 {
  margin-top: 30px;
}

.page-main__filter-block4 {
  margin-top: 28px;
}

.page-main__filter-block5 {
  margin-top: 32px;
}

.page-main__filter-block6 {
  margin-top: 29px;
}

.page-main__title {
  margin: 0 0 22px;
}

.page-main__pagination {
  width: 255px;
  margin: 20px auto;
}

.page-main__wrapper {
  @include display-top;
  
  margin: 38px 9.7% 63px;
}

.page-main__details {
  width: 61.8%;
}

.page-main__conveniences,
.page-main__conditions {
  @include display-top;
}

.page-main__convenience {
  width: 290px;
}

.page-main__subtitle {
  margin-bottom: 0;

  &--margin1 {
    @include display-baseline;

    margin-top: 14px;
  }
  
  &--margin2 {
    margin-top: 10px;
  }

  &--padding {
    padding-left: 19px;
    margin-bottom: 19px;
  }

  &--color {
    min-width: 62px;
    margin-left: 15px;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: $color-50;
  }
}

.page-main__experience {
  width: 49.7%;
}

.page-main__reviews {
  margin-right: 6px
}

.page-main__condition {
  width: 36%;
}

.page-main__cancel {
  width: 48%;
  margin-right: 12px;
}

.page-main__cancel-text {
  margin-top: 18px;
}

@media (max-width: $desktop-width) {
  .page-main__title {
    text-align: center;
  }

  .page-main__wrapper {
    flex-direction: column-reverse;
  }

  .page-main__form--margin3 {
    margin: 0 auto;
  }

  .page-main__details {
    width: auto;
  }
}

@media (max-width: $mobile-width-only) {
  .page-main__form {
    margin: 69px auto;

    &--margin1 {
      margin: 18px auto;
    }
    
    &--margin2 {
      margin: 172px auto;
    }
    
    &--margin3 {
      margin: 0 auto;
    }
  }

  .page-main__text {
    margin: 0 auto 20px;
    text-align: center;
  }

  .page-main--background3 {
    margin: 0 2%;
    flex-direction: column;
  }

  .page-main__filters {
    width: 266px;
    margin: 0 auto;
  }

  .page-main__title {
    margin: 22px 0;
  }

  .page-main__wrapper {
    margin: 0 15px;
  }

  .page-main__conveniences,
  .page-main__conditions {
    flex-direction: column-reverse;
  }

  .page-main__conveniences {
    align-items: center;
  }

  .page-main__experience {
    width: 290px;
  }
  
  .page-main__condition,
  .page-main__cancel {
    width: auto;
    align-items: flex-start;
  }

  .page-main__subtitle--padding {
    padding-left: 0;
  }
}