include ../form/form

mixin main()
  main.page-main 
    +form
    h1.page-main__text Лучшие номера для вашей работы, <br> отдыха и просто вдохновения

mixin main-registration()
  main.page-main 
    +form-registration

mixin main-sign-in()
  main.page-main 
    +form-sign-in

mixin main-filter()
  main(class="page-main page-main--background") 
    include ../filter/filter