include ../form/form
include ../card-photo/card-photo

.cards
  .cards__block1
    +form-search
  .cards__block2
    +form-room({
      textItem: 'Сбор за дополнительные услуги',
      totalClassName: 'form__total-number--transform'
    })
  .cards__block3
    +input-dropdown({
      id: 'date5',
      inputClassName: 'input__input--padding date1'
    })
  .cards__block4
    +form-registration({textSubmit: 'перейти к оплате'})
  .cards__block5
    +form-sign-in
  .cards__block6
    +card-photo({
      itemClassName: 'card-photo__item--margin1',
      photos: [
        {
          img: 'image1.jpg',
          number: 888,
          luxe: ' Люкс',
          price: '9 990',
          count: 5,
          review: 145,
          imgs: ['image1.jpg', 'image2.jpg', 'image3.jpg', 'image4.jpg'],
          className: 'card-photo__block-img--hover' 
        },
        {
          img: 'image2.jpg',
          number: 840,
          luxe: '',
          price: '9 900',
          count: 4,
          review: 65,
          imgs: ['image2.jpg', 'image1.jpg', 'image3.jpg', 'image4.jpg']
        }
      ]
    })