include ../form/form
include ../card-photo/card-photo

.cards
  .cards__block1
    +form-search
  .cards__block2
    +form-room({
      textItem: 'Сбор за дополнительные услуги',
      transformed: 'form__total-number_transformed'
    })
  .cards__block3
    div(class="js-datepick1")
  .cards__block4
    +form-registration({textSubmit: 'перейти к оплате'})
  .cards__block5
    +form-sign-in
  .cards__block6
    +card-photo({
      margin: 'card-photo__item_margin_bottom1',
      photos: [
        {
          number: 888,
          luxe: ' Люкс',
          price: '9 990',
          count: 5,
          review: 145,
          imgs: [
            'image1.jpg', 
            'image2.jpg', 
            'image3.jpg', 
            'image4.jpg'
          ],
          hover: 'flexslider_hovering' 
        },
        {
          number: 840,
          luxe: '',
          price: '9 900',
          count: 4,
          review: 65,
          imgs: [
            'image2.jpg', 
            'image1.jpg', 
            'image4.jpg', 
            'image3.jpg'
          ]
        }
      ]
    })