.cards {
  @include display-top;

  flex-wrap: wrap;
  margin: 0 9.7% 40px;
}

.cards__block1,
.cards__block2 {
  margin-top: 30px;
}

.cards__block3 {
  margin-top: 4px;
}

.cards__block1,
.cards__block2,
.cards__block4,
.cards__block5 {
  width: 380px;
}

.cards__block3,
.cards__block6 {
  width: 320px;
  height: 400px;
}

.cards__block4 {
  margin-top: -98px;
}

.cards__block5 {
  margin-top: 40px;
}

.cards__block6 {
  margin-top: -103px;
}

@media (min-width: 1800px) {
  .cards__block4 {
    margin-top: 30px;
  }
  
  .cards__block6 {
    margin-top: 40px;
  }
}

@media (max-width: 1350px) {
  .cards__block2,
  .cards__block4,
  .cards__block5,
  .cards__block6 {
    margin-top: 30px;
  }
}

@media (max-width: $tablet-width) {
  .cards {
    margin: 15px;
  }
}