.cards {
  @include display-top;

  width: 80.6%;
  margin: 35px auto;
  flex-wrap: wrap;
}

.cards__block3 {
  margin-top: 18px;
}

.cards__calendar {
  width: 320px;
  height: 1px;
  padding: 0;
  border: none;
}

.cards__block4 {
  margin-top: -97px;
}

.cards__block5 {
  margin-top: 40px;
}

.cards__block6 {
  width: 320px;
  margin-top: -102px;
}