.datepicker {
  width: 318px;
  padding-bottom: 14px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
}

.datepicker--pointer {
  background: transparent;
  border: none;
  width: 0;
  height: 0;
}

.datepicker--nav {
  padding: 15px;
  border-bottom: none;
}

.datepicker--nav-action {
  font-family: MaterialIcons;
  font-size: 24px;
  line-height: 20px;
  color: $color-purple;
}

.datepicker--nav-title,
.datepicker--nav-title i {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  color: $color;
}

.datepicker--day-name {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: $color-purple;
  text-transform: none;
}

.datepicker--content {
  padding: 15px 20px;
}

.datepicker--cells {
  padding-top: 9px;
}

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: $color-25;
}

.datepicker--cell {
  height: 40px;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 15px;
  color: $color-50;
}

.datepicker--cell.-current- {
  font-weight: bold;
  color: #FFFFFF;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 22px;
}

.datepicker--cell.-selected- {
  font-weight: bold;
  color: #FFFFFF;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
}

.datepicker--cell.-range-from- {
  position: relative;
  border: none;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

  &::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 0;
    right: 0;
    width: 20px;
    height: 40px;
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25));
  }
}

.datepicker--cell.-range-to- {
  position: relative;
  border: none;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

  &::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 0;
    left: 0;
    width: 20px;
    height: 40px;
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25));
  }
}

.datepicker--cell.-in-range- {
  color: $color-50;
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25), rgba(139, 164, 249, 0.25));
}

.datepicker--cell.-focus- {
  border-radius: 22px;
}

.datepicker--buttons {
  justify-content: space-between;
  padding: 4px 19px;
  border-top: none;
}

.datepicker--button, 
.datepicker--btn {
  height: 18px;
  flex: 0;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $color-purple;
  cursor: pointer;

  &:hover {
    color: $color-50;
    background: none;
  }
}

.datepicker--hover {
  color: $color-50;
  background: none;
}