extends ../../layouts/layout
include ../../blocks/dropdown-date/dropdown-date
include ../../blocks/dropdown-list/dropdown-list
include ../../blocks/range/range
include ../../blocks/checkbox/checkbox
include ../../blocks/checkbox-list/checkbox-list
include ../../blocks/card-room/card-room
include ../../blocks/pagination/pagination

block head
  - const title = 'Search room';

block header
  -
    const linksHeader = [
      {
        text: 'О нас',
      },
      {
        text: 'Услуги',
        icon: true
      },
      {
        text: 'Вакансии',
      },
      {
        text: 'Новости',
      },
      {
        text: 'Соглашения',
        icon: true
      },
    ];

block footer
  -
    const border = 'bordered';

    const linksFooter = [
      { 
        title: 'навигация', 
        links: ['О нас', 'Новости', 'Служба поддержки', 'Услуги'] 
      }, 
      { 
        title: 'о нас', 
        links: ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы'] 
      }, 
      { 
        title: 'служба поддержки', 
        links: ['Соглашения', 'Сообщества', 'Связь с нами'] 
      }
    ];

    const socials = [
      { 
        href: 'https://twitter.com/?lang=ru', 
        src: '../../../assets/img/socials/twitter.svg' 
      }, 
      { 
        href: 'https://ru-ru.facebook.com/', 
        src: '../../../assets/img/socials/facebook.svg' 
      }, 
      { 
        href: 'https://www.instagram.com/?hl=ru', 
        src: '../../../assets/img/socials/instagram.svg' 
      }
    ];

block content
  -
    const guests = [
      {
        text: 'взрослые', 
        number: 2, 
      }, 
      {
        text: 'дети', 
        number: 1, 
      }, 
      {
        text: 'младенцы', 
        number: 1, 
      }
    ];

    const rules = [
      {
        value: 'Можно курить', 
      },
      {
        value: 'Можно с питомцами', 
        checked: true
      },
      {
        value: 'Можно пригласить гостей\n (до 10 человек)', 
        checked: true
      }
    ];

    const accessibility = [
      {
        value: 'Широкий коридор', 
        details: 'Ширина коридоров в номере\n не менее 91 см.',
        fw: 'bold'
      },
      {
        value: 'Помощник для инвалидов', 
        details: 'На 1 этаже вас встретит специалист\n и проводит до номера.',
        fw: 'bold'
      }
    ];

    const rooms = [
      {
        text: 'спальни', 
        number: 2, 
      }, 
      {
        text: 'кровати', 
        number: 2, 
      }, 
      {
        text: 'ванные комнаты', 
        number: 0, 
        translucent: true
      }
    ];

    const conveniences = [
      {
        value: 'Завтрак', 
      },
      {
        value: 'Письменный стол', 
        checked: true
      },
      {
        value: 'Стул для кормления', 
        checked: true
      },
      {
        value: 'Кроватка', 
        checked: true
      },
      {
        value: 'Телевизор', 
      },
      {
        value: 'Шампунь', 
      }
    ];

    const cards = [
      {
        number: 888,
        category: 'Люкс',
        price: '9 990',
        count: 5,
        review: 145,
        images: ['room-1.jpg', 'room-2.jpg', 'room-3.jpg', 'room-4.jpg'],
        state: 'hovering'
      },
      {
        number: 840,
        price: '9 900',
        count: 4,
        review: 65,
        images: ['room-2.jpg', 'room-1.jpg', 'room-4.jpg', 'room-3.jpg']
      },
      {
        number: 980,
        category: 'Люкс',
        price: '8 500',
        count: 3,
        review: 35,
        images: ['room-3.jpg', 'room-4.jpg', 'room-5.jpg', 'room-6.jpg'],
      },
      {
        number: 856,
        price: '7 300',
        count: 5,
        review: 19,
        images: ['room-4.jpg', 'room-5.jpg', 'room-6.jpg', 'room-7.jpg'],
      },
      {
        number: 740,
        price: '6 000',
        count: 4,
        review: 44,
        images: ['room-5.jpg', 'room-6.jpg', 'room-7.jpg', 'room-8.jpg'],
      },
      {
        number: 982,
        price: '5 800',
        count: 3,
        review: 56,
        images: ['room-6.jpg', 'room-7.jpg', 'room-8.jpg', 'room-9.jpg'],
      },
      {
        number: 678,
        price: '5 500',
        count: 5,
        review: 45,
        images: ['room-7.jpg', 'room-8.jpg', 'room-9.jpg', 'room-10.jpg'],
      },
      {
        number: 450,
        price: '5 300',
        count: 4,
        review: 39,
        images: ['room-8.jpg', 'room-9.jpg', 'room-10.jpg', 'room-11.jpg'],
      },
      {
        number: 350,
        price: '5 000',
        count: 3,
        review: 77,
        images: ['room-9.jpg', 'room-10.jpg', 'room-11.jpg', 'room-12.jpg'],
      },
      {
        number: 666,
        price: '5 000',
        count: 5,
        review: 25,
        images: ['room-10.jpg', 'room-11.jpg', 'room-12.jpg', 'room-1.jpg'],
      },
      {
        number: 444,
        price: '5 000',
        count: 3,
        review: 15,
        images: ['room-11.jpg', 'room-12.jpg', 'room-1.jpg', 'room-2.jpg'],
      },
      {
        number: 352,
        price: '5 000',
        count: 3,
        review: 55,
        images: ['room-12.jpg', 'room-1.jpg', 'room-2.jpg', 'room-3.jpg'],
      },
    ];

  main.search-room
    aside.search-room__filters
      .search-room__item
        +dropdown-date({ text: 'даты пребывания в отеле', value: '19 авг - 23 авг', js: 'calendarOneInput' })
      .search-room__item
        +dropdown-list({ text: 'гости', value: '3 гостя, 1 младенец', list: guests, additionalButtons: true })
      .search-room__item
        +range({ text: 'диапазон цены', desc: 'Стоимость за сутки пребывания в номере', selected: '5 000₽ - 10 000₽' })
      .search-room__item
        h3.search-room__subtitle правила дома
        each val in rules
          .search-room__checkbox
            +checkbox(val)
      .search-room__item
        h3.search-room__subtitle доступность
        each val in accessibility
          .search-room__checkbox-access
            +checkbox(val)
      .search-room__item
        +dropdown-list({ text: 'удобства номера', value: '2 спальни, 2 кровати...', list: rooms })
      .search-room__item
        +checkbox-list({ value: 'дополнительные удобства', checkboxes: conveniences })
    section.search-room__rooms
      h1.search-room__title Номера, которые мы для вас подобрали
      ul.search-room__cards
        each val in cards
          li.search-room__card
            +card-room(val)
      .search-room__pagination
        +pagination
