extends ../../layouts/layout
include ../../blocks/header/header
include ../../blocks/main/main
include ../../blocks/footer/footer

block body
  +header({})
  +main-search-room
  +footer({border: 'page-footer_bordered'})
