extends ../../layouts/layout
include ../../blocks/input-dropdown/input-dropdown
include ../../blocks/slide/slide
include ../../blocks/checkbox-list/checkbox-list
include ../../blocks/checkbox/checkbox
include ../../blocks/card-photo/card-photo

block head
  - const title = 'Search room';

block footer
  - const underline = true;

block body
  -
    const guests = [
      {
        text: 'взрослые', 
        number: 2
      }, 
      {
        text: 'дети', 
        number: 1
      }, 
      {
        text: 'младенцы', 
        number: 1
      }
    ];

    const rules = [
      {
        label: 'Можно курить', 
        id: 'smoke', 
        checked: false
      },
      {
        label: 'Можно с питомцами', 
        id: 'pets', 
        checked: true
      },
      {
        label: 'Можно пригласить гостей (до 10 человек)', 
        id: 'guests', 
        checked: true
      }
    ];

    const available = [
      {
        label: 'Широкий коридор', 
        id: 'hallway', 
        checked: false,
        text: 'Ширина коридоров в номере не менее 91 см.',
        width: 'wide1'
      },
      {
        label: 'Помощник для инвалидов', 
        id: 'invalid', 
        checked: false,
        text: 'На 1 этаже вас встретит специалист  и проводит до номера.',
        width: 'wide2'
      }
    ];

    const numbers = [
      {
        text: 'спальни', 
        number: 2
      }, 
      {
        text: 'кровати', 
        number: 2
      }, 
      {
        text: 'ванные комнаты', 
        number: 0, 
        opacity: true
      }
    ];

    const conveniences = [
      {
        label: 'Завтрак', 
        id: 'breakfast', 
        checked: false
      },
      {
        label: 'Письменный стол', 
        id: 'desk', 
        checked: true
      },
      {
        label: 'Стул для кормления', 
        id: 'chair', 
        checked: true
      },
      {
        label: 'Кроватка', 
        id: 'Crib', 
        checked: true
      },
      {
        label: 'Телевизор', 
        id: 'TV', 
        checked: false
      },
      {
        label: 'Шампунь', 
        id: 'shampoo', 
        checked: false
      }
    ];

    const cards = [
      {
        number: 888,
        category: 'Люкс',
        price: '9 990',
        count: 5,
        review: 145,
        images: ['image1.jpg', 'image2.jpg', 'image3.jpg', 'image4.jpg'],
        state: 'hovering',
      },
      {
        number: 840,
        category: '',
        price: '9 900',
        count: 4,
        review: 65,
        images: ['image2.jpg', 'image3.jpg', 'image4.jpg', 'image5.jpg'],
      },
      {
        number: 980,
        category: 'Люкс',
        price: '8 500',
        count: 3,
        review: 35,
        images: ['image3.jpg', 'image4.jpg', 'image5.jpg', 'image6.jpg'],
      },
      {
        number: 856,
        category: '',
        price: '7 300',
        count: 5,
        review: 19,
        images: ['image4.jpg', 'image5.jpg', 'image6.jpg', 'image7.jpg'],
      },
      {
        number: 740,
        category: '',
        price: '6 000',
        count: 4,
        review: 44,
        images: ['image5.jpg', 'image6.jpg', 'image7.jpg', 'image8.jpg'],
      },
      {
        number: 982,
        category: '',
        price: '5 800',
        count: 3,
        review: 56,
        images: ['image6.jpg', 'image7.jpg', 'image8.jpg', 'image9.jpg'],
      },
      {
        number: 678,
        category: '',
        price: '5 500',
        count: 5,
        review: 45,
        images: ['image7.jpg', 'image8.jpg', 'image9.jpg', 'image10.jpg'],
      },
      {
        number: 450,
        category: '',
        price: '5 300',
        count: 4,
        review: 39,
        images: ['image8.jpg', 'image9.jpg', 'image10.jpg', 'image11.jpg'],
      },
      {
        number: 350,
        category: '',
        price: '5 000',
        count: 3,
        review: 77,
        images: ['image9.jpg', 'image10.jpg', 'image11.jpg', 'image12.jpg'],
      },
      {
        number: 666,
        category: '',
        price: '5 000',
        count: 5,
        review: 25,
        images: ['image10.jpg', 'image11.jpg', 'image12.jpg', 'image1.jpg'],
      },
      {
        number: 444,
        category: '',
        price: '5 000',
        count: 3,
        review: 15,
        images: ['image11.jpg', 'image12.jpg', 'image1.jpg', 'image2.jpg'],
      },
      {
        number: 352,
        category: '',
        price: '5 000',
        count: 3,
        review: 55,
        images: ['image12.jpg', 'image1.jpg', 'image2.jpg', 'image3.jpg'],
      },
    ];

  main.page-main.page-main_displayed
    .page-main__filters
      .page-main__filter-block1
        +input-dropdown({ text: 'даты пребывания в отеле', value: '19 авг - 23 авг', inputClassName: 'cursor', id: 'date', datepicker: 'datepicker5' })
      .page-main__filter-block2
        +input-dropdown({ dropdown: true, text: 'гости', value: '3 гостя, 1 младенец', inputClassName: 'cursor', id: 'guest', option: guests, textLeft: 'очистить', textRight: 'применить' })
      .page-main__filter-block3
        +slide({ text: 'диапазон цены', desc: 'Стоимость за сутки пребывания в номере' })
      .page-main__filter-block4
        h3.page-main__text-filter правила дома
        +checkbox({ listClassName: 'common', checkboxs: rules })
      .page-main__filter-block5
        h3.page-main__text-filter доступность
        +checkbox({ color: 'color', listClassName: 'common', checkboxs: available })
      .page-main__filter-block6
        +input-dropdown({ dropdown: true, text: 'удобства номера', value: '2 спальни, 2 кровати...', inputClassName: 'cursor', id: 'rooms', option: numbers })
      .page-main__filter-block7
        +checkbox-list({ text: 'дополнительные удобства', unreflected: 'unreflected', checkboxs: conveniences })
    section.page-main__rooms
      h1.page-main__title Номера, которые мы для вас подобрали
      .page-main__cards
        each card in cards
          +card-photo(card)
      .page-main__pagination
        include ../../blocks/pagination/pagination
