extends ../../layouts/layout
include ../../blocks/form-registration/form-registration

block head
  - const title = 'Registration';

block footer
  - 
    const links = [
      { title: 'навигация', links: ['О нас', 'Новости', 'Служба поддержки', 'Услуги'] }, 
      { title: 'о нас', links: ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы'] }, 
      { title: 'служба поддержки', links: ['Соглашения', 'Сообщества', 'Связь с нами'] }
    ];

    const socials = [
      { href: 'https://twitter.com/?lang=ru', src: '../../../assets/img/socials/twitter.svg' }, 
      { href: 'https://ru-ru.facebook.com/', src: '../../../assets/img/socials/facebook.svg' }, 
      { href: 'https://www.instagram.com/?hl=ru', src: '../../../assets/img/socials/instagram.svg' }
    ];

block header 
  -
    const navigators = [
      {
        active: false,
        text: 'О нас',
        arrow: false
      },
      {
        active: false,
        text: 'Услуги',
        arrow: true
      },
      {
        active: false,
        text: 'Вакансии',
        arrow: false
      },
      {
        active: false,
        text: 'Новости',
        arrow: false
      },
      {
        active: false,
        text: 'Соглашения',
        arrow: true
      },
    ];

block body
  -
    const genders = [
      { id: 'man', gender: 'Мужчина', checked: 'checked' }, 
      { id: 'woman', gender: 'Женщина' }
    ];
    
  main.page-main.js-page-main_image2
    .js-slider
      .slItems
        .page-main__form.page-main__form_margin_common1
          +form-registration({ genders: genders, textSubmit: 'ЗАРЕГИСТРИРОВАТЬСЯ' })
        each val in [4, 3, 1, 2]
          div(
            class=`slItem page-main_background${val}`,
            style="background-position: center 79%"
          )
