extends ../../layouts/layout
include ../../blocks/form-sign-up/form-sign-up

block head
  - const title = 'Registration';

block header
  -
    const linksHeader = [
      {
        text: 'О нас',
      },
      {
        text: 'Услуги',
        icon: true
      },
      {
        text: 'Вакансии',
      },
      {
        text: 'Новости',
      },
      {
        text: 'Соглашения',
        icon: true
      },
    ];

block footer
  -
    const linksFooter = [
      { 
        title: 'навигация', 
        links: ['О нас', 'Новости', 'Служба поддержки', 'Услуги'] 
      }, 
      { 
        title: 'о нас', 
        links: ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы'] 
      }, 
      { 
        title: 'служба поддержки', 
        links: ['Соглашения', 'Сообщества', 'Связь с нами'] 
      }
    ];

    const socials = [
      { 
        href: 'https://twitter.com/?lang=ru', 
        src: '../../../assets/img/socials/twitter.svg' 
      }, 
      { 
        href: 'https://ru-ru.facebook.com/', 
        src: '../../../assets/img/socials/facebook.svg' 
      }, 
      { 
        href: 'https://www.instagram.com/?hl=ru', 
        src: '../../../assets/img/socials/instagram.svg' 
      }
    ];

block content
  -
    const genders = [
      { 
        value: 'Мужчина',
        name: 'gender', 
        checked: true 
      }, 
      { 
        value: 'Женщина',
        name: 'gender', 
      }
    ];

  main.registration.js-registration
    .js-slider
      .slItems
        .registration__form
          +form-sign-up({ genders, textSubmit: 'ЗАРЕГИСТРИРОВАТЬСЯ' })
        each val in [4, 3, 1, 2]
          div(
            class=`slItem registration__image${val}`,
            style="background-position: center 79%"
          )
