include ../../blocks/input/input

mixin dropdown-date(options)
  -
    const { id, value, js } = options;

    const jsClass = {
      calendar1: 'js-calendar1',
      calendar2: 'js-calendar2',
      calendar3: 'js-calendar3',
      calendar4: 'js-calendar4',
      calendar5: 'js-calendar5',
    };

    const classes = [
      jsClass[js],
    ];

  .dropdown-date
    +input({ id, value, readonly: 'readonly', cursor: 'pointer' })
    div(class=classes)
