include ../../blocks/input/input

mixin dropdown-date(options)
  -
    const { text, value, js } = options;

    const jsClass = {
      calendarTwoInputsHalfEmpty: 'js-calendarTwoInputsHalfEmpty',
      calendarOneInput: 'js-calendarOneInput',
      calendarTwoInputsEmpty: 'js-calendarTwoInputsEmpty',
      calendarTwoInputsFilled: 'js-calendarTwoInputsFilled',
      calendarNoInput: 'js-calendarNoInput',
    };

    const classes = [
      jsClass[js],
    ];

  .dropdown-date
    +input({ text, value, readonly: 'readonly', cursor: 'pointer', icon: 'arrow' })
    div(class=classes)
