.details {
  width: 83.4%;
  margin: 70px auto 0;
  padding: 0 20px;
  display: flex;
  align-items: flex-start;
}

.details__block-details {
  margin-right: 55px;
}

.details__block-convenience {
  display: flex;
}

.details__convenience {
  width: 280px;
  margin-right: 80px;
}

.details__title {
  margin: 0;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  color: $color;

  &--margin {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 14px;
  }
}

.details__list {
  @include list-reset;
}

.details__item {
  display: flex;
  align-items: center;

  padding: 20px 0;
}

.details__item:not(:nth-child(3)) {
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
}

.details__icon {
  margin: 0 10px 0 0;
  font-family: MaterialIcons;
  font-size: 48px;
  line-height: 41px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.details__text {
  margin: 0;
  font-weight: bold;
}

.details__detail-text {
  display: block;
  font-weight: normal;
}

.details__experience {
  position: relative;
}

.details__diagram {
  margin: 4px -17px;
}

.details__diagram-number {
  position: absolute;
  top: 55px;
  left: 29px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: $color-purple;
  text-align: center;
}

.details__diagram-label {
  display: block;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.details__diagram-list {
  @include list-reset;
  position: absolute;
  top: 70px;
  left: 166px;
}

.details__diagram-item {
  position: relative;

  &::before {
    position: absolute;
    top: 7px;
    left: -15px;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50px;
  }

  &:first-child::before {
    background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
  }
  
  &:nth-child(2)::before {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  }
  
  &:nth-child(3)::before {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  }
  
  &:last-child::before {
    background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
  }
}

.details__block-reviews {
  width: 710px;
}

.details__quantity-reviews {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-align: right;
  color: $color-50;
}

.details__reviews {
  @include list-reset;

  margin: 20px 0 0;
}

.details__review {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 13px;
  }
}

.details__block-avatar {
  display: flex;
  flex-direction: column;
  margin-right: 11px;
  min-width: 45px;
}

.details__button {
  display: flex;
  align-items: center;
  margin: 15px 3px;
  padding: 3px 4px;
  font-family: MaterialIcons;
  font-size: 10px;
  line-height: 9px;
  color: $color-purple;
  background: #FFFFFF;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  border: 1px solid transparent;
  border-radius: 10px;
  box-shadow: 1px 1000px 1px #fff inset;

  &--number {
    margin-left: 5px;
    font-family: Montserrat;
    font-size: 10px;
    line-height: 12px;
  }

  &--border {
    color: $color-25;
    background-image: none;
    border: 1px solid rgba(31, 32, 65, 0.25);
  }

  &:focus {
    outline: 1px solid;
  }
}

.details__name {
  margin: 0;
  font-weight: bold;
  color: $color-75;
}

.details__date {
  margin: 0;
}

.details__review-text {
  margin: 10px 0;
}

.details__conditions {
  margin: 23px 19px;
  display: flex;
}

.details__rules {
  width: 243px;
  margin-right: 99px
}

.details__list-condition {
  @include list-reset;

  margin: 18px 0;
}

.details__item-condition {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: 7px;
    left: -20px;
    width: 10px;
    height: 10px;
    background: rgba(31, 32, 65, 0.25);
    border-radius: 50px;
  }
}

.details__text-condition {
  margin: 10px 0;
}

.details__cancel {
  width: 345px;
}

.details__cancel-text {
  margin: 18px 0;
}