include ../dropdown-date/dropdown-date
include ../dropdown-list/dropdown-list
include ../button/button

mixin form-search(options)
  form.form-search(action="search-room.html")
    h1.form-search__title Найдём номера под ваши пожелания
    .form-search__dates
      .form-search__date
        +dropdown-date({ text: 'прибытие', value: 'ДД.ММ.ГГГГ', js: 'calendarTwoInputsEmpty' })
      .form-search__date
        +dropdown-date({ text: 'выезд', value: 'ДД.ММ.ГГГГ' })
    .form-search__guests
      +dropdown-list({ text: 'гости', value: 'Сколько гостей', list: options, additionalButtons: true })
    .form-search__submit 
      +button({ text: 'подобрать номер', type: 'button', theme: 'filled', icon: 'arrow' })
