include ../input-dropdown/input-dropdown
include ../button/button
include ../checkbox-toggle/checkbox-toggle

mixin form-search(options)

  form.form(action="search-room.html")
    h1.form__title Найдём номера под ваши пожелания
    .form__inputs 
      +input-dropdown({ value: 'ДД.ММ.ГГГГ', id: 'date1', inputClassName: 'width', text: 'прибытие', datepicker: 'datepicker2' })
      +input-dropdown({ value: 'ДД.ММ.ГГГГ', id: 'date2', inputClassName: 'width', text: 'выезд' })
    .form__guests 
      +input-dropdown({ dropdown: true, value: 'Сколько гостей', inputClassName: 'cursor', id: 'guest1', option: options, textLeft: '', textRight: 'применить', text: 'гости' })
    .form__submit 
      +button({ text: 'ПОДОБРАТЬ НОМЕР', type: 'button', theme: 'filled', icon: 'arrow' })
