include ../logo/logo
include ../nav/nav

mixin header(options)
  header.page-header 
    .page-header__wrapper
      +logotype({})
      +nav(options)
      button(class="page-header__hamburger js-page-header__hamburger")
        span(class="page-header__streak page-header__streak_top")
        span(class="page-header__streak page-header__streak_middle")
        span(class="page-header__streak page-header__streak_bottom")