include ../logo/logo
include ../nav/nav

mixin header(options)
  header.page-header 
    .page-header__wrapper
      +logotype(options)
      +nav(options)
      button.page-header__hamburger
        div(class="page-header__streak page-header__streak--top")
        div(class="page-header__streak page-header__streak--middle")
        div(class="page-header__streak page-header__streak--bottom")