include ../logo/logo
include ../nav/nav

mixin header(options)
  header.page-header 
    .page-header__wrapper
      +logotype({})
      +nav(options)
      button.page-header__hamburger.js-page-header__hamburger
        span.page-header__streak.page-header__streak_top
        span.page-header__streak.page-header__streak_middle
        span.page-header__streak.page-header__streak_bottom
