mixin nav-link(options)
  -
    const {itemClassName} = options
    let letItemClassName = 'nav-link__item'
    letItemClassName += itemClassName ? ` ${itemClassName}` : ''

  .nav-link
    ul.nav-link__list
      li(class= letItemClassName)
        a.nav-link__link О нас
      li.nav-link__item
        a.nav-link__link Услуги
        span(class="font-icon nav-link__icon") expand_more
        ul.nav-link__options 
          li.nav-link__option
            a.nav-link__link О сервисе
          li.nav-link__option
            a.nav-link__link Инвесторы
          li.nav-link__option
            a.nav-link__link Сообщества
      li.nav-link__item
        a.nav-link__link Вакансии
      li.nav-link__item
        a.nav-link__link Новости
      li.nav-link__item
        a.nav-link__link Соглашения
        span(class="font-icon nav-link__icon") expand_more
        ul.nav-link__options 
          li.nav-link__option
            a.nav-link__link Служба поддержки
          li.nav-link__option
            a.nav-link__link Наша команда
          li.nav-link__option
            a.nav-link__link Связь с нами