.nav-link__list {
  display: flex;
	align-items: center;
	justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-link__item {
  position: relative;
  display: flex;
  margin-right: 1.4vw;
  color: $color-50;

  &_hovering {
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
  }
}

.nav-link__link {
  transition: all 0.4s ease;

  &:hover,
  &:hover + .nav-link__icon {
    text-shadow: 0 0 .65px #333, 0 0 .65px #333;
  }
}

.nav-link__icon {
  color: $color-50;
  cursor: pointer;
  transition: all 0.4s ease;
}

.nav-link__options {
  position: absolute;
  z-index: 6;
  top: 25px;
  left: 0;
  display: none;
  margin: 0;
  padding: 10px 15px;
  background: #e9e9e9;
	list-style: none;
}

.nav-link__option {
  white-space: pre;
}

@media (max-width: $desktop-width) {
  .nav-link__item {
    
    &:nth-child(2) {
      & .nav-link__options {
        top: 30px;
        left: 0;
      }
    }
    
    &:nth-child(5) {
      & .nav-link__options {
        top: 30px;
        left: -60px;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: $mobile-width-only) {
  .nav-link__list {
    position: absolute;
    z-index: 5;
    top: 40px;
    right: 0;
    display: none; 
    flex-direction: column;
    align-items: flex-start;
    width: 236px;
    padding-left: 20px;
    background: #e9e9e9;
  }

  .nav-link__item {
    margin: 5px 0;

    &:nth-child(5) {
      & .nav-link__options {
        left: 0;
      }
    }
  }
}