ul.nav-link 
  li.nav-link__item
    a(class="nav-link__link" href="#") О нас
  li.nav-link__item
    a(class="nav-link__link") Услуги
    span.nav-link__icon expand_more
  li.nav-link__item
    a(class="nav-link__link" href="#") Вакансии
  li.nav-link__item
    a(class="nav-link__link" href="#") Новости
  li.nav-link__item
    a(class="nav-link__link") Соглашения
    span.nav-link__icon expand_more