mixin button-submit(options)
  - const { text } = options;

  .button-submit
    input#submit.button-submit__input(type="submit", value=text)
    label.button-submit__label(for="submit") 
      span.button-submit__icon arrow_forward
