.button-submit {
  position: relative;
  display: inline-flex;
  flex-direction: column;
}

.button-submit__input {
  padding: 14px 35px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  border: none;
  border-radius: 22px;
  cursor: pointer;
  transition: all 0.4s ease;

  &:hover {
    opacity: 0.5;
  }
}

.button-submit__icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: MaterialIcons;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}
