include ../input/input

mixin subscription(options)
  -
    const { text, placeholder, state } = options;

    const stateModifiers = {
      up: 'subscription__submit_state_up',
    };

    const classes = [
      stateModifiers[state],
    ];

  form.subscription
    +input({ type: 'email', text, placeholder, size: 'indentation' })
    button.subscription__submit(class=classes, type="submit") arrow_forward
