.subscription {
  position: relative;

  &__submit {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 10px;
    font-family: MaterialIcons;
    font-size: 24px;
    line-height: 24px;
    color: $color-50;
    border: none;
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
}
