mixin range-slider(options)
  .range-slider
    .range-slider__texts
      h3(class="font-h3 range-slider__text")= options.textLeft
      p(class="font-h3 range-slider__text range-slider__text--color")= options.textRight
    .range-slider__slider 
      .range-slider__scale
        .range-slider__bar
      div(class="range-slider__toggle range-slider__toggle-min")
      div(class="range-slider__toggle range-slider__toggle-max")