.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: $desktop-width) {
  .main-nav {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}
