.form-room {
  padding: 23px 29px 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);

  &__block-price {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &__symbol {
    margin: 16px 0 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: $color;
  }

  &__number {
    font-size: 24px;
    line-height: 29px;
  }

  &__category {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: $color-purple;
  }

  &__price {
    margin: 16px 0 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: $color-50;
  }

  &__day {
    font-weight: normal;
    font-size: 12px;
  }

  &__inputs {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__guests {
    margin-top: 21px;
  }

  &__list {
    margin: 17px 0;
    padding: 0;
    list-style: none;
  }
  
  &__item {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__text-price {
    position: relative;
    margin: 0;

    &_state_information::before {
      position: absolute;
      content: 'i';
      right: -30px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size: 12px;
      line-height: 14px;
      color: $color-25;
      width: 20px;
      height: 20px;
      border: 1px solid rgba(31, 32, 65, 0.25);
      border-radius: 50px;
    }
  }

  &__number-price {
    margin: 0;
  }

  &__amount {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 31px;
  }

  &__total,
  &__total-number {
    margin: 14px 0;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    color: $color;
  }

  &__ellipsis {
    width: 46.7%;
    border-top: 1px dotted rgba(31, 32, 65, 0.25);
  }

  &__submit {
    display: grid;
    margin-top: 8px;
  }
}

@media (max-width: $mobile-width-only) {
  .form-room {
    padding: 15px;

    &__text-price_state_information::before {
      right: -22px;
    }
  }
}